##
## Run https://www.toptal.com/developers/gitignore
## GitIgnore.io CLI: https://docs.gitignore.io/install/command-line
## Github's gitignore's repo: https://github.com/github/gitignore

## Deploy / Commit Hide
the-folio.code-workspace

## Exclude Files

## SECURITY

*.lnk

## Specific Files
.gitattributes

# Folder config file
[Dd]esktop.ini

.prettier.yaml
*.png.xmp
assets/clients/coderscoffee/coders-coffeehouse-drinksmenu.png
assets/clients/coderscoffee/coders-coffeehouse-project-1.jpg
assets/clients/coderscoffee/coders-coffeehouse-project-1.jpg.xmp
assets/clients/coderscoffee/coffeehouse.jpg
assets/clients/coderscoffee/learn.codeinstitute.net_sandbox_api_challenges_60338cca9c4983ac5d855130_files_index.html(Nest Hub Max).png
assets/clients/coderscoffee/msedge_5aDk3bdYRs.png
assets/clients/coderscoffee/msedge_EHfu8UF0UN.png
assets/clients/coderscoffee/msedge_iqI4jnCXla.png
assets/clients/coderscoffee/msedge_iY5FKbct3T.png
assets/clients/coderscoffee/msedge_pJ6vqhmJMv.png
assets/clients/coderscoffee/msedge_pJ6vqhmJMv.xcf
assets/clients/coderscoffee/msedge_tGKWUU0raw.png
assets/clients/coderscoffee/msedge_zvMNqOkHg6.png
