##
## Run https://www.toptal.com/developers/gitignore
## GitIgnore.io CLI: https://docs.gitignore.io/install/command-line
## Github's gitignore's repo: https://github.com/github/gitignore

## Deploy / Commit Hide
docs/**
assets/styles/utilities.css
the-folio.code-workspace

## Exclude Files

## SECURITY

### Repo
## Folder
src/*
.vscode/*
scripts/*
features/*

## Specific Files
.bash*
.gitmoijrc.json
.zshrc
.pnpm*
.shell.sh
.gitattributes

# .github/*
# .vscode/*
.github/dependabot.yml

# Folder config file
[Dd]esktop.ini

_work/_detail/credibility.html
_work/_detail/experience.html
_work/_detail/learning.html
_work/_detail/skills.html
_info/_detail/confirm.html
_info/_detail/partner.html
assets/styles/_archive/__main.css
assets/styles/_archive/animated forms.css
