/* Root Resets */
:root {
 /* ==========================================================================
      THE DIGITAL FOLIO: CI SUBMISSION: 3RD PARTY RESETS: CODE SEPARATION OF CONCERNS
  [0] Author: Charles Fowler (Own decisions and adjustments)
  [1] Base Reset: Kevin Powell: URL:https://www.youtube.com/watch?v=2lyDv0wOQuQ,
      Last Accessed: 2023-01-11
  [2] A modern css reset: Elly Loel: URL https://gist.github.com/EllyLoel/4ff8a6472247e6dd2315fd4038926522 ✮✮✮
      Last Accessed: 2023-01-11:
      Credits: Josh W Comau, Andy Bell, Adam Argyle
      Assessment: I rewrote these resets as-is for greater learning and customisation/selection.
      Reference: These are strictly referenced and itemised. Compare to orginal.
                 Where is a difference, Author has concieously omitted, or changed due to
                 [a] scope or [b] lack of understanding/familiarity [c] Own opinon.
      Criterion: Code separation of 3rd Party concerns, utilising Layers and Imports.
  Rating: ✮: Minimal, ✮✮: More Opinionated, ✮✮✮: Highly Opinionated
  ========================================================================== */

 *,
 *::before,
 *::after {
  box-sizing: border-box;
 }

 // [1] Resets margin, padding for explicit. [✮✮]
 // [1] Reset font sizes, font weights. [✮✮]
 * {
  font: inherit;
  margin: 0;
  padding: 0;
 }

 /* ==========================================================================
  Section Comment Block
  ========================================================================== */

 html {
  block-size: 100%;
  color-scheme: dark light;
  -webkit-text-size-adjust: none;
 }

 // [2] A11y: Smooth Scrolling to reduce motion: Credit: Adam Argyle [✮✮]
 @media (prefers-reduced-motion: no-preference) {
  html:focus-within {
   scroll-behavior: smooth;
  }
 }

 // [1] Sets a minimum height on body [✮✮]
 // [2] Allow &sizes on blocks.[✮✮]
 body {
  min-block-size: 100%;
  min-height: 100vh;
 }

 // MEDIA
 // [1,2] Ensure all media is responsive, with low specificity. [✮✮]
 :where(img, picture, svg, video, embed, object, cavnas) {
  display: block;
  max-width: 100%;
 }

 // [2] Ensure key media has improved defaults. [✮✮]
 :where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
 }

 // FORMS
 // [1,2] Standardised forms typograghpy [✮,✮✮✮]
 :where(input, textarea, button, select) {
  color: inherit; /*[2]*/
  font: inherit; /*[1]*/
  font-size: inherit; /*[2]*/
  letter-spacing: inherit;
  word-spacing: inherit;
 }

 // [2] Textarea to Vertical [✮✮✮]
 // [2] Textaarea to block if browser supports. [✮✮✮]
 :where(textarea) {
  resize: vertical;
 }
 @supports (resize: block) {
  :where(textarea) {
   resize: block;
  }
 }
 // HEADERS
 // [2] Headers, all, no text overflow. [✮✮]
 :where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
 }

 // 2 Default H1 to 2em inside semantic content. [✮✮✮]
 :where(article, nav, aside, section) h1 {
  font-size: 2em;
 }

 // LISTS, MENU (Navigations)
 // [2,0] Position list marker inside [✮✮✮]
 :where(menu, ul, ol) {
  list-style-position: outside; /*[0]*/
 }
 // [2] ARIA Menu: remove List Style [✮✮✮],
 // [0] Change Role to menu, was "List" [2], being more specific for a11y navigation patterns.
 :where(menu, ul, ol)[role="menu"] {
  list-style: none;
 }
 // INTERACTIVE
 // [2] Anchor tags, no class, readability.
 a:not([class]) {
  text-decoration-skip-ink: auto;
 }
 // [2] Assure interactive elements are interactive.
 // [2] Not Yet: Not including File inputs. Not in scope. #Exception.
 :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  appearance: auto;
  cursor: pointer;
  touch-action: manipulation;
 }
 // ANIMATE
 // [2] Form focus Outlines
 // [2] A11y: Reduce motion for transitions
 @media (prefers-reduced-motion: no-preference) {
  :focus-visible {
   transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
   transition-duration: 0.25s;
  }
 }
 // [2] Use offset to highlight visible interactive focus.
 :where(:not(:active)):focus-visible {
  outline-offset: 5px;
 }

 // NO INTERACTION
 // [2] Disable Button Text Selection
 // [0] Removed: File & Webkit Selectors
 :where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]) {
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
 }
}

/* Wireframe : Prototype*/
:root {
 /* Border Colors*/
 --w-red: rgb(247, 13, 13);
 --w-yel: rgb(219, 200, 31);
 --w-blu: rgb(3, 137, 254);
 --w-gre: rgb(24, 202, 33);
 --w-pin: rgb(242, 19, 119);
 --w-pur: rgb(160, 82, 197);
 --w-gre: rgb(33, 28, 28);
 /*Border Style*/
 --w-dash: dashed;
 --w-line: solid;
 /*Border Width*/
 --w-1: 1px;
 --w-2: 2px;
 --w-3: 3px;
}

/* Root Variables: As Strictly needed */
:root {
 --body-color: hsla(0, 0%, 84%, 0.9);
 /* Layout */
 /* --layout-color: transparent; */
 --layout-inside-pad: 2rem;
 --layout-block-pad: 1rem;
 /* Navigation */
 /* Hero */
}

body {
 background-color: var(--body-color, rgba(21, 21, 21, 0.9));
 height: 100vh;
}

// Wireframes
div.fo-layout {
 border: var(--w-2);
 border-color: var(--w-red);
 border-style: var(--w-dash);
}

section,
main,
footer {
 border: var(--w-2);
 border-style: var(--w-dash);
}

section {
 border-color: var(--w-blu);
 display: block;
}

main {
 border-color: var(--w-gre);
 display: inline-block;
}

main section {
 border-color: var(--w-pur);
 display: inline-block;
}

main section header {
 border-color: var(--w-yel);
 display: block;
}

main section section {
 border-color: var(--w-pin);
 display: block;
}
//

header h1,
header h2,
header h3,
header h4 {
 display: inline-block;
}

section section > p {
 display: block;
}

footer {
 display: inline-block;
}

/* Navigation */
nav {
}

menu {
}

/* Menu Item */

ul,
ol {
}

ul li,
ol li {
}

ul li {
}

ol li {
}

li {
}

li:checked {
}

/* Anchors*/

a[href] {
}

a:anylink {
}

a:hover a:link {
}

a:active {
}

a:visited {
}

:target {
}

/* Forms */

form {
}

label {
}

input[type="checkbox"] {
}

input:focus {
}

input:focus-visible {
}

input:focus-within {
}

input:required {
}

input:valid,
textarea:valid {
}

input:invalid,
textarea:invalid {
}

input:placeholder-shown {
}

// Separators

hr

/* ==========================================================================
  Folio Namespace: a) Index, b) Info, c) Folio, d) Work
  ========================================================================== */

.fo-canvas {
}

.fo-layout {
 background-color: var(--layout-color);
 display: block;
}

.fo-layout {
 background-color: var(--layout-color);
 display: block;
}

.fo-nav {
 display: block;
}

.fo-grid-bar {
 display: grid;
}

.fo-flex-box {
 display: flex;
 flex: 1 0 auto;
}

.fo-menu-holder {
 display: block;
}

.fo-menu-holder label[hidden="hidden"],
.fo-menu-holder input[type="checkbox"] {
 display: inline-flex;
 flex: 0 0 auto;
}

/* Menu / Nav Classes for A11y and Site */
.fo-menu {
}

.fo-a11-ctrl {
}

.fo-a11y-menu {
}

.fo-menu-site {
}

.fo-nav-site {
}

/* Logo */

.fo-logo-holder {
}

img.fo-logo {
}

.fo-logo {
}

/* Layout | Hero */
.fo-grid {
}

.fo-hero {
}

.fo-hero-title {
}

.fo-subcont {
}

.fo-sub {
}

/* Type & Text */
.fo-typog {
}

.fo-text-head {
}

.fo-content {
}

.fo-content p {
}

.fo-text-para {
}

.fo-text-inline {
}

.fo-cta {
}

.fo-link-internal {
}

.fo-links {
}

.fo-linkstyle {
}

/* Responsive: Hero Grids */

.fo-folio-grid,
.fo-about-grid,
.fo-work-grid,
.fo-contact-grid {
}

.fo-folio-grid {
}
.fo-about-grid {
}
.fo-work-grid {
}
.fo-contact-grid {
}

.fo-folio-cell,
.fo-about-cell,
.fo-work-cell,
.fo-contact-cell {
}

.fo-folio-cell {
}
.fo-about-cell {
}
.fo-work-cell {
}
.fo-contact-cell {
}

/* Responsive Rows: Flexbox */

.fo-folio-flex {
}

.fo-folio-flex header {
}

.fo-head-frame {
}

/* ==========================================================================
  Tier 1 Classes
  ========================================================================== */

.fo-grid {
}

.fo-grid-cell {
}

.fo-grid-cell section header {
}

.fo-grid-cell section {
}

.fo-grid-cell section > header {
}

.fo-grid-cell section > p {
}

.fo-grid-cell section span {
}

.fo-grid-cell p {
}

.fo-heroname {
}

.fo-nametag {
}

.fo-label {
}

/* ==========================================================================
About Classes
========================================================================== */
.fo-about-row {
}

.fo-about-imhholder {
}

.fo-about-imgholder img {
}

.fo-grid + .fo-grid {
}

.fo-grid > header {
}

.fo-grid > section {
}

.fo-grid > section p {
}

a.fo-button#download-resume {
}

a.fo-download#download-resume {
}

/* ==========================================================================
  Info | Contact Form Classes
  ========================================================================== */

.fo-contact-row {
}

.fo-grid-header {
}

.fo-formhead {
}

.fo-byline {
}

.fo-form-sub#contact-form-section {
}

.fo-form {
}

.fo-form-flex {
}

.fo-form-item {
}

.fo-form-item p > span {
}

.fo-form-item p[hidden="hidden"] > span {
}

.fo-form-item label {
}

.fo-form-item label input {
}

.fo-form-item label span {
}

.fo-form-item input,
.fo-form-item textarea,
.fo-form-item submit {
}

.fo-form-item span.fo-label {
}

.fo-form-item span.fo-newline {
}

.fo-form-item > label[for="submit-send"] .fo-button {
}

.fo-form-item > label[for="submit-send"] .fo-hint {
}

.fo-input {
}

.fo-name,
.fo-email,
.fo-subject {
}

.fo-validate {
}

.fo-card-flex {
}

.fo-card-holder {
}

.fo-card-line {
}

.fo-show-content {
}

.fo-show-content span {
}

.fo-show-content a {
}

/* .fo-hide-content {} */

/* ==========================================================================
  Folio: Folio Classes
  ========================================================================== */

.fo-separator {
}

.fo-folio-col1 {
}

.fo-folio-col2 {
}

.fo-folio-col1,
.fo-folio-col2 {
}

.fo-folio-imgholder {
}

.fo-client-image {
}

.fo-client-label {
}

.fo-client > header {
}

.fo-client > header > h1 {
}

.fo-client > header > h2 {
}

.fo-client section {
}

.fo-client section p {
}

.fo-client section strong {
}

/* ==========================================================================
  Work: Profile Classes
  ========================================================================== */

.fo-flex-row {
}

.fo-grid-inner {
}

.fo-work-col1 {
}

.fo-work-label {
}

.fo-work {
}

.fo-column {
}

.fo-work.fo-col1 aside {
}

.fo-work.fo-col1 aside h1 {
}

.fo-work.fo-col2 section p,
.fo-work.fo-col3 section p {
}
