/* Root Resets */
:root {
 /* ==========================================================================
      THE DIGITAL FOLIO: CI SUBMISSION: 3RD PARTY RESETS: CODE SEPARATION OF CONCERNS
  [0] Author: Charles Fowler (Own decisions and adjustments)
  [1] Base Reset: Kevin Powell: URL:https://www.youtube.com/watch?v=2lyDv0wOQuQ,
      Last Accessed: 2023-01-11
  [2] A modern css reset: Elly Loel: URL https://gist.github.com/EllyLoel/4ff8a6472247e6dd2315fd4038926522 ✮✮✮
      Last Accessed: 2023-01-11:
      Credits: Josh W Comau, Andy Bell, Adam Argyle
      Assessment: I rewrote these resets as-is for greater learning and customisation/selection.
      Reference: These are strictly referenced and itemised. Compare to orginal.
                 Where is a difference, Author has concieously omitted, or changed due to
                 [a] scope or [b] lack of understanding/familiarity [c] Own opinon.
      Criterion: Code separation of 3rd Party concerns, utilising Layers and Imports.
  Rating: ✮: Minimal, ✮✮: More Opinionated, ✮✮✮: Highly Opinionated
  ========================================================================== */

 *,
 *::before,
 *::after {
  box-sizing: border-box;
 }

 // [1] Resets margin, padding for explicit. [✮✮]
 // [1] Reset font sizes, font weights. [✮✮]
 * {
  font: inherit;
  margin: 0;
  padding: 0;
 }

 /* ==========================================================================
  Section Comment Block
  ========================================================================== */

 html {
  block-size: 100%;
  color-scheme: dark light;
  margin: 0px;
  -webkit-text-size-adjust: none;
 }

 // [2] A11y: Smooth Scrolling to reduce motion: Credit: Adam Argyle [✮✮]
 @media (prefers-reduced-motion: no-preference) {
  html:focus-within {
   scroll-behavior: smooth;
  }
 }

 // [1] Sets a minimum height on body [✮✮]
 // [2] Allow &sizes on blocks.[✮✮]
 body {
  margin: unset;
  margin-top: 0px;
  min-block-size: 100%;
  min-height: 100vh;
 }

 // MEDIA
 // [1,2] Ensure all media is responsive, with low specificity. [✮✮]
 :where(img, picture, svg, video, embed, object, cavnas) {
  display: block;
  max-width: 100%;
 }

 // [2] Ensure key media has improved defaults. [✮✮]
 :where(img, svg, video) {
  block-size: auto;
  max-inline-size: 100%;
 }

 // FORMS
 // [1,2] Standardised forms typograghpy [✮,✮✮✮]
 :where(input, textarea, button, select) {
  color: inherit; /*[2]*/
  font: inherit; /*[1]*/
  font-size: inherit; /*[2]*/
  letter-spacing: inherit;
  word-spacing: inherit;
 }

 // [2] Textarea to Vertical [✮✮✮]
 // [2] Textaarea to block if browser supports. [✮✮✮]
 :where(textarea) {
  resize: vertical;
 }
 @supports (resize: block) {
  :where(textarea) {
   resize: block;
  }
 }
 // HEADERS
 // [2] Headers, all, no text overflow. [✮✮]
 :where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
 }

 // 2 Default H1 to 2em inside semantic content. [✮✮✮]
 :where(article, nav, aside, section) h1 {
  font-size: 2em;
 }

 // LISTS, MENU (Navigations)
 // [2,0] Position list marker inside [✮✮✮]
 :where(menu, ul, ol) {
  list-style-position: outside; /*[0]*/
 }
 // [2] ARIA Menu: remove List Style [✮✮✮],
 // [0] Change Role to menu, was "List" [2], being more specific for a11y navigation patterns.
 :where(menu, ul, ol)[role="menu"] {
  list-style: none;
 }
 // INTERACTIVE
 // [2] Anchor tags, no class, readability.
 a:not([class]) {
  text-decoration-skip-ink: auto;
 }
 // [2] Assure interactive elements are interactive.
 // [2] Not Yet: Not including File inputs. Not in scope. #Exception.
 :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
  appearance: auto;
  cursor: pointer;
  touch-action: manipulation;
 }
 // ANIMATE
 // [2] Form focus Outlines
 // [2] A11y: Reduce motion for transitions
 @media (prefers-reduced-motion: no-preference) {
  :focus-visible {
   transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
  }
  :where(:not(:active)):focus-visible {
   transition-duration: 0.25s;
  }
 }
 // [2] Use offset to highlight visible interactive focus.
 :where(:not(:active)):focus-visible {
  outline-offset: 5px;
 }

 // NO INTERACTION
 // [2] Disable Button Text Selection
 // [0] Removed: File & Webkit Selectors
 :where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]) {
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -webkit-touch-callout: none;
  user-select: none;
 }
}

/* Wireframe : Prototype*/
:root {
 /* Color*/
 --w-darktext-onlight: rgba(36, 21, 31, 0.918);
 --w-lighttext-ondark: rgba(233, 222, 230, 0.918);

 /* Background Colors*/
 --w-huecanv: rgba(34, 34, 29, 0.918);
 --w-huelayout: rgba(248, 248, 239, 0.945);
 --w-huebanner: rgba(183, 229, 250, 0);
 --w-huenav: rgba(250, 183, 230, 0);
 --w-hueholder: rgba(252, 187, 144, 0.918);
 --w-huemenu: rgba(183, 229, 250, 0.918);
 --w-huegrid: rgba(245, 250, 183, 0.918);

 /* Border Colors*/
 --w-red: rgb(247, 13, 13);
 --w-yel: rgb(219, 200, 31);
 --w-blu: rgb(3, 137, 254);
 --w-gree: rgba(24, 202, 33, 0);
 --w-pin: rgb(242, 19, 119);
 --w-pur: rgba(161, 82, 197, 0);
 --w-gre: rgb(196, 196, 196);
 --w-bla: rgb(17, 17, 17);
 /*Border Style*/
 --w-dash: dashed;
 --w-line: solid;
 /*Border Width*/
 --w-1: 1px;
 --w-2: 2px;
 --w-3: 3px;
}

/* Root Colors */
:root {
 --body-color: hsla(0, 1%, 19%, 0.9);
 color: var(--w-darktext-onlight);
}

// Sizings and Spacing
:root {
 /* Global Spacing*/
 --global-inside-margin: 3rem;
 --global-margin-inside: 3rem;
 --global-base-width: 45rem;
 --global-mobile-width: 17rem;
 --global-tablet-width: 40rem;
 --global-default-width: 45rem;
 /* https://en.wikipedia.org/wiki/Line_length#Electronic_text*/
 --global-line-len-em: 33em;
 --global-line-len-ch: 66ch;
 --mobile-line-len-em: 11em;
 --mobile-line-len-ch: 22ch;
 --tablet-line-len-em: 22em;
 --tablet-line-len-ch: 44ch;
 /* Spacing between Layuts*/
 --layout-inside-pad: 2rem;
 --layout-block-pad: 1rem;
 --layout-pad-inside: 2rem;
 --layout-pad-block: 1rem;
 /* Navigation Spacing*/
 --nav-height-max: 4rem;
 /* Spacing between TB Major Semantic Blocks*/
 --semantic-block-end: 2rem;
 --semantic-block-start: 2rem;
 --semantic-block-space: 4rem;
 /* Navigation */
 /* Hero */
}

body {
 /* background-color: var(--body-color, rgba(21, 21, 21, 0.9));
 height: 100vh; */
}

// Wireframes & Base Element Styles

.fo-layout {
 border: var(--w-2);
 border-color: var(--w-red);
 border-style: var(--w-dash);
}

section,
main,
footer {
 border-style: var(--w-dash);
}

nav {
}

section {
 border-color: var(--w-blu);
}

main {
 border-color: var(--w-gree);
}

main section {
 border-color: var(--w-pur);
}

main section header {
 border-color: var(--w-yel);
}

main section section {
 border-color: var(--w-pin);
}
//

header h1,
header h2,
header h3,
header h4 {
 display: inline-block;
}

section section > p {
 display: block;
}

footer {
 display: block;
}

footer span {
 display: inline-block;
}

/* Navigation */
nav {
}
/* Menu Item */

ul,
ol {
 block-size: auto;
}

ul li,
ol li {
 block-size: 3rem;
}

ul li {
}

ol li {
}

li {
}

li:checked {
}

/* Media */
img,
picture,
video,
embed,
iframe {
 border-color: var(--w-bla);
}

/* Anchors*/

a[href] {
}

a:anylink {
}

a:hover a:link {
}

a:active {
}

a:visited {
}

:target {
}

/* Forms */

form {
 block-size: auto;
}

label {
 block-size: 3rem;
}
input {
 block-size: 3rem;
}

input[type="checkbox"] {
}

input:focus {
}

input:focus-visible {
}

input:focus-within {
}

input:required {
}

input:valid,
textarea:valid {
}

input:invalid,
textarea:invalid {
}

input:placeholder-shown {
}

// Separators

hr {
 block-size: 2rem;
 margin-block: 10rem;
 padding-block: 4rem;
}

/* ==========================================================================
  Folio Wirefarmes: a) Index, b) Info, c) Folio, d) Work
  ========================================================================== */

.fo-canvas {
 background-color: var(--w-huecanv);
}

.fo-layout {
 background-color: var(--w-huelayout);
}

/* .fo-banner {
    background-color: var(--w-huebanner);
    } */

.fo-nav {
 background-color: var(--w-huenav);
}

.fo-nav-grid {
 background-color: var(--w-huebanner);
}

.fo-nav-holder {
 background-color: var(--w-hueholder);
}
.fo-menu {
 background-color: var(--w-huemenu);
}

.fo-grid-bar {
 /* background-color: var(--w-huegrid); */
 border-width: var(--w-2);
 color: var(--w-darktext-onlight);
}

/* ==========================================================================
  Folio Namespace: a) Index, b) Info, c) Folio, d) Work
  ========================================================================== */

/* ==========================================================================
  Compositon: Structure, Layout, Dimensions, Semantics
  ========================================================================== */

.fo-canvas {
 /* background: ; */
 /* background-color: var(--fo-brand-background); */
 /* background-image: ; */
 /* background-position: ; */
 /* background-repeat: ; */
 /* background-size: ; */
 /* background-attachment: ; */
 /* background-origin: ; */
 /* background-blend-mode: ; */
}

.fo-layout {
 align-items: center;
 block-size: 100%;
 box-sizing: border-box;
 display: block;
 margin-inline: auto;
 max-height: max-content;
 max-width: 60rem;
 min-height: min-content;
 place-self: stretch stretch;
 width: minmax(var(--global-base-width), 45rem);
}

.fo-banner {
 height: 4rem;
 margin-block-end: var(--semantic-block-end, 2rem);
 max-height: var(--nav-height-max);
 position: relative;
}

.fo-nav {
 block-size: auto;
 box-sizing: border-box;
 display: inline;
 height: 4rem;
 max-height: var(--nav-height-max);
 min-height: 3rem;
 min-width: 12rem;
 position: absolute;
 width: 100%;
}

.fo-nav-grid {
 box-sizing: content-box;
 display: grid;
 grid-auto-column: [bar-col] 1fr;
 grid-auto-row: [bar-row] 1fr;
 grid-template-areas: "menu-bar";
 height: 4rem;
 margin-block: 0%;
 max-height: var(--nav-height-max);
 padding-block: 0%;
}

.fo-nav-flex {
 box-sizing: border-box;
 display: flex;
 flex: 1 0 auto;
 flex-direction: row;
 flex-wrap: no-wrap;
 justify-content: space-between;
 margin-block: 0%;
 max-height: 4rem;
 padding-block: 0%;
}

/* Navigation Components */
.fo-nav-holder {
 display: inline-block;
 height: 4rem;
 position: relative;
 text-align: center;
 vertical-align: middle;
 width: 4rem;
}

.fo-nav-holder {
 block-size: 4rem;
 inline-size: 4rem;
 margin-block: 0px 0.25rem;
 max-block-size: 4rem;
 max-inline-size: 4rem;
}

.fo-nav-holder has(label[hidden="hidden"],input[type="checkbox"]) {
 display: inline-flex;
 flex: 0 0 auto;
}

/* Menu / Nav Classes for A11y and Site */
.fo-menu {
 box-sizing: border-box;
 visibility: hidden;
 z-index: 1;
}

/* Menu Components | Controls: Position in Flex row */
div is(.fo-a11y-ctrl,
.fo-site-ctrl) {
 border: 0px;
 padding: 0px;
}

.fo-a11y-ctrl {
 place-self: self-start auto;
}

.fo-nav-ctrl {
 place-self: self-end auto;
}

nav is(.fo-nav-a11y,
.fo-nav-site) {
 border: inherit;
 padding: inherit;
}

.fo-menu-site {
}

.fo-nav-site {
}

/* Logo */

.fo-logo-holder {
}

img.fo-logo {
}

.fo-logo {
}

/* Layout | Hero */
main is(#home-main, #about-main,#contact-main,#work-main,#folio-main) {
 block-size: fit-content(50%);
 box-sizing: border-box;
 margin-block-end: var(--semantic-block-end, 2rem);
}
.fo-grid {
 display: grid;
 grid-auto-column: [content-col] 1fr;
 grid-auto-row: [content-row] 1fr;
 grid-template-areas: "content";
}

#home-main .fo-grid {
 grid-auto-column: [hero-client] 1fr [hero-about] 1fr;
 grid-auto-row: [hero-work] 1fr [hero-contact] 1fr;
 grid-template-areas:
  "hero-client hero-about"
  "hero-work hero-contact";
}

#folio-main .fo-grid {
 grid-auto-column: [client-thb] 1fr [client-dtl] 1fr;
 grid-auto-row: [client] 1fr;
 grid-template-areas: "clientthb client-dtl";
 margin-inline: auto;
 max-width: ;
 place-items: center auto;
}

#work-main .fo-grid {
 grid-auto-column: [content-col] 1fr;
 grid-auto-row: [content-row] 1fr;
 grid-template-areas: "content";
}

#about-main .fo-grid {
 grid-auto-column: [about-hero] 1fr [about-img] 1fr;
 grid-auto-row: [about-row] 1fr;
 grid-template-areas: "about-hero about-img";
}

#contact-main .fo-grid {
 grid-auto-column: [contact-form] 1fr [contact-card] 1fr;
 grid-auto-row: [contact] 1fr;
 grid-template-areas: "contact-form contact-card";
}

.fo-flex-mainrow {
 background-color: var(--w-huegrid);
 display: flex;
 flex: 1 0 auto;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;
 place-items: center auto;
 width: 40rem;
}

.fo-grid-cell {
 display: inline-block;
 height: auto;
 min-width: 11rem;
 width: auto;
}

//
.fo-hero {
}

.fo-hero-title {
}

.fo-subcont {
}

.fo-sub {
}

/* Type & Text */
.fo-typog {
}

.fo-text-head {
}

.fo-content {
}

.fo-content p {
}

.fo-text-para {
}

.fo-text-inline {
}

.fo-cta {
}

.fo-link-internal {
}

.fo-links {
}

.fo-linkstyle {
}

/* Responsive: Hero Grids */

.fo-folio-grid,
.fo-about-grid,
.fo-work-grid,
.fo-contact-grid {
}

.fo-folio-grid {
}
.fo-about-grid {
}
.fo-work-grid {
}
.fo-contact-grid {
}

.fo-folio-cell,
.fo-about-cell,
.fo-work-cell,
.fo-contact-cell {
}

.fo-folio-cell {
}
.fo-about-cell {
}
.fo-work-cell {
}
.fo-contact-cell {
}

/* Responsive Rows: Flexbox */

.fo-folio-flex {
}

.fo-folio-flex header {
}

.fo-head-frame {
}

/* ==========================================================================
  Tier 1 Classes
  ========================================================================== */

.fo-grid-cell {
}

.fo-grid-cell section header {
}

.fo-grid-cell section {
}

.fo-grid-cell section > header {
}

.fo-grid-cell section > p {
}

.fo-grid-cell section span {
}

.fo-grid-cell p {
}

.fo-heroname {
}

.fo-nametag {
}

.fo-label {
}

/* ==========================================================================
About Classes
========================================================================== */
.fo-about-row {
}

.fo-about-imhholder {
}

.fo-about-imgholder img {
}

.fo-grid + .fo-grid {
}

.fo-grid > header {
}

.fo-grid > section {
}

.fo-grid > section p {
}

a.fo-button#download-resume {
}

a.fo-download#download-resume {
}

/* ==========================================================================
  Info | Contact Form Classes
  ========================================================================== */

.fo-contact-row {
}

.fo-grid-header {
}

.fo-formhead {
}

.fo-byline {
}

.fo-form-sub#contact-form-section {
}

.fo-form {
}

.fo-form-flex {
}

.fo-form-item {
}

.fo-form-item p > span {
}

.fo-form-item p[hidden="hidden"] > span {
}

.fo-form-item label {
}

.fo-form-item label input {
}

.fo-form-item label span {
}

.fo-form-item input,
.fo-form-item textarea,
.fo-form-item submit {
}

.fo-form-item span.fo-label {
}

.fo-form-item span.fo-newline {
}

.fo-form-item > label[for="submit-send"] .fo-button {
}

.fo-form-item > label[for="submit-send"] .fo-hint {
}

.fo-input {
}

.fo-name,
.fo-email,
.fo-subject {
}

.fo-validate {
}

.fo-card-flex {
}

.fo-card-holder {
}

.fo-card-line {
}

.fo-show-content {
}

.fo-show-content span {
}

.fo-show-content a {
}

/* .fo-hide-content {} */

/* ==========================================================================
  Folio: Folio Classes
  ========================================================================== */

.fo-separator {
}

.fo-folio-col1 {
}

.fo-folio-col2 {
}

.fo-folio-col1,
.fo-folio-col2 {
}

.fo-folio-imgholder {
}

.fo-client-image {
}

.fo-client-label {
}

.fo-client > header {
}

.fo-client > header > h1 {
}

.fo-client > header > h2 {
}

.fo-client section {
}

.fo-client section p {
}

.fo-client section strong {
}

/* ==========================================================================
  Work: Profile Classes
  ========================================================================== */

.fo-flex-row {
}

.fo-grid-inner {
}

.fo-work-col1 {
}

.fo-work-label {
}

.fo-work {
}

.fo-column {
}

.fo-work.fo-col1 aside {
}

.fo-work.fo-col1 aside h1 {
}

.fo-work.fo-col2 section p,
.fo-work.fo-col3 section p {
}
