/* ==========================================================================
  The Digital Folio: Branding
  ========================================================================== */

:root {
 /* --col-prime: hsla();
 --col-second: hsla();
 --col-teritary: hsla();
 --col-quartary: hsla();
 --col-qinary: hsla();

 --bkg-prime: hsla();
 --bkg-second: hsla();
 --bkg-teritary: hsla();
 --bkg-quartary: hsla();
 --bkg-qinary: hsla(); */

 /*
  Sub-Section Comment Block
  ========================================================================== */

 --col-dark-prim: hsla();
 --col-dark-seco: hsla();
 --col-dark-teri: hsla();
 --col-dark-quar: hsla();
 --col-dark-quin: hsla();

 --bkg-onlight-prim: hsla();
 --bkg-onlight-seco: hsla();
 --bkg-onlight-teri: hsla();
 --bkg-onlight-quar: hsla();
 --bkg-onlight-quin: hsla();

 /*
  Sub-Section Comment Block
  ========================================================================== */

 --col-light-prim: hsla();
 --col-light-seco: hsla();
 --col-light-teri: hsla();
 --col-light-quar: hsla();
 --col-light-quin: hsla();

 --bkg-ondark-prim: hsla();
 --bkg-ondark-seco: hsla();
 --bkg-ondark-teri: hsla();
 --bkg-ondark-quar: hsla();
 --bkg-ondark-quin: hsla();

 --scheme-darkpref: dark light;
 --scheme-lightpref: light dark;
}
