@layer blocks {

    @layer land-sections {

        #main-land {
            margin-top: 2%;
            min-height: calc(100% - 20vb);
            padding-top: 2%;
        }

        :root {
            --landscape-aspect: 16 / 10 ;
            --portrait-aspect: 1 / 1;
        }

        @media (max-width: 768px) {

            :root {
                --aspect-ratio: var(--portrait-aspect);
                --pic-fig-position: ;
            }

            #landing {

            }
        }

        @layer home-client  {

            @media (max-width: 548px){
                :root {
                    --mobile-section-width: 90dvw;
                    --pic-fig-position: -1.5em;
                }
            }

            @media (min-width: 548px){
                :root {
                    --mobile-section-width: 40vw;
                    --pic-fig-position: -2.5em;
                }
            }
            @media (min-width: 548px) and (orientation: landspace) {
                :root {
                    --mobile-section-width: 80vw;
                    --pic-fig-position: -2.5em;
                }
            }
            @media (min-width: 789px){
                :root {
                    --mobile-section-width: 80vw;
                    --pic-fig-position: -2em;
                }
            }
            @media (min-width: 966px){
                :root {
                    --mobile-section-width: 45vw;
                    --pic-fig-position: -1.99em;
                }
            }

            @media (max-width: 2600){
                :root {
                    --mobile-section-width: 40vw;
                    --pic-fig-position: -1.99em;
                }
            }

            .fo-home-section {
                container-name: home-section;
                container-type: inline-size layout;
                display: flex;
                flex-basis: 100%;
                flex-flow: row nowrap;
                flex-shrink: 0;
                height: min-content;
                margin: 0;
                max-height: 600px;
                max-width: var(--mobile-section-width);
                min-height: 360px;
                /* outline: 2px solid rgb(4, 255, 0); */
/*                 width: max-content; */
            }

            @container home-section (inline-size > 2200px) {

                .fo-home-container {
                    outline: 1px solid red;
                }

            }

            #main-land :is(#land-client1, #land-client2) {
/*                 margin-left: 1%; */
                /* margin-inline: 0; */
                /* padding-inline: 1%; */
                width: var(--mobile-section-width);
            }

            #land-client1 {
/*                 grid-area: fo-client1; */
                align-self: self-start;
            }

            #land-client2 {
                /* outline: 1px solid rgb(255, 0, 212); */
/*                 grid-area: fo-client2; */
                align-self: self-start;

            }

            .fo-home-section {
                display: flex;
                flex: 1 0 auto;
                flex-flow: row wrap;
                margin-left: 7%;
                outline: 3px dashed green;
                place-content: start start;
                place-self: center center;
            }

            .fo-home-container {
                contain: size layout;
                container-name: client-hero_mobile;
                container-type: inline-size;
                inline-size: 90%;
                /* margin-inline: auto; */
                max-width: 700px;
                min-height: 700px;
                min-width: 360px;;
            }

            .fo-home-card {
                background-color: #faf4f4;
                border-radius: 20px;
                display: flex;
                flex-flow: column nowrap;
                padding-block: 1%;
                place-content: center start;
                width: var(--mobile-section-width);
            }

            .fo-home-card-blead {;
                background-color: #dbcdcd;
                block-size: 90%;
                border-radius: 20px;
                /* display: grid;
                grid-template-areas: "hero" "blurb" ; */
                display: flex;
                flex-flow: column nowrap;
                inline-size: 80%;
                margin-block: 0px;
                margin-inline: 1%;
                padding-block: 1%;
                place-content: center;
                place-items: start center;
                place-self: center start;
                position: relative;
            }

            .fo-client-hero-img {
                border-radius: 40px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                width: 85%;
            }

            picture {
                display: flex;
                flex-flow: row nowrap;
                margin-inline: auto;
                /* grid-area: hero;
                grid-row: 1 / -1;; */
                object-position: top center;
                padding-block: 0%;
                place-content: space-around;
                width: 90%;
            }

            figcaption {
                background-color: #2d2d2d;
                border-bottom-left-radius: 40px;
                border-bottom-right-radius: 40px;
                color: #faf4f4;
                height: auto;
                line-height: 1.25;
                margin-block: 0;
                margin-inline: auto;
                max-height: 100px;
                opacity: 0.95;
                padding-inline: 25px;

            }

            figcaption > a:any-link {
                background-color: #2d2d2d;
                color: #faf4f4;
                line-height: 1.25;
            }

            #landing :is(h2,h3,h4,h5,p) {
                margin: 0;
            }

            .fo-card-caption{
                font-size: 1.1rem;
            }

            figcaption a {
                display: flex;
                flex-basis: content;
                flex-flow: column nowrap;
                flex-grow: 1;
                height: 95%;
                /* outline: 1px solid red; */
                width: auto;
            }
            figcaption h3, p  {
                padding-left: -0px;
                text-align: center;;
            }
            a span.fo-text-decor {
                font-size: var(--font-size-sm);
                font-weight: 900;
                text-decoration: dashed 2.5px #d82828 !important;
                text-decoration-skip: spaces;
            }
        }

        @container client-hero_mobile (inline-size < 488px)  {

            :is(#land-client1, #land-client2) .fo-client-hero-img {                    /* --_aspect-ratio: vat(--landscape-aspect); */
                aspect-ratio: 1 / 1;
                max-width: var(--mobile-section-width);
                object-fit: cover;
                outline: 3px solid red;
                transform: scale(0.9);
            }
            figcaption {
                aspect-ratio: 1 / 1;
                margin-top: -15px;
                width: 56%;
            }
        }
        @container client-hero_mobile (inline-size < 488px) and (orientation: landscape) {

            :is(#land-client1, #land-client2) .fo-client-hero-img {                    /* --_aspect-ratio: vat(--landscape-aspect); */
                aspect-ratio: 16 / 10;
                max-width: var(--mobile-section-width);
                object-fit: cover;
                outline: 3px solid red;
                transform: scale(0.9);
            }
            figcaption {
                aspect-ratio: 1 / 1;
                margin-top: -15px;
                width: 56%;
            }
        }
            @container client-hero_mobile (inline-size > 488px)  {

                :is(#land-client1, #land-client2) .fo-client-hero-img {
                /* --_aspect-ratio: vat(--landscape-aspect); */
                aspect-ratio: 16 / 10;
                max-width: var(--mobile-section-width);
                object-fit: cover;
                outline: 3px dashed var(--bright-yellow);
                transform: scale(1));
                width: 75%;
            }

            figcaption {
                aspect-ratio: 16 / 10;
                width: 57.5%;
            }
        }
}
    }