  /*  ==========================================================================
  The Folio: Layer Established Ordering
  References: http://css-tricks.com/css-cascade-layers, Last accessed: 2023-01-24
  Why: a) Code Organisation / Ordering; b) Code Browsing using Code Folding in IDE
  #   Cascade     Layer               Purpose
  1)  Least:        Reset               Resets UA Styles and Asserts Weakness base styles
  2)                  global-defaults Author Defaults and base Design Tokens
  3)                  global-sizes     Author Core Sizes
  4)                  brand folio       Site Branding for The Digital Folio Design
  5)                  preferences      Site Level User Choices
  6)                  typography      Site Type & Font Copy style
  7)                  composite        Site Composite Styles: Canvas, Layout, Navigation, Body, Footer
  8)                  ia                    Site IA Styles: Site Regional Style for page group styles/isolation of styles.
  9)                  utility              Site Cross Uses styles.
  10)                blocks             Component specific styles for unique block level styles
  11)                except             Exceptions / Unqiues / Variants
  12) Powerful:  unlayer            Unlayers, most closely related / unique styles as needed.
                                            & or most specific styles and powerful styles.
  ==========================================================================  */
/*
  Global Preferences
  ==========================================================================  */
@layer preferences {
    /*  [2] A11y: Smooth Scrolling to reduce motion: Credit: Adam Argyle [✮✮]  */
    @media (prefers-reduced-motion: no-preference) {
        html:focus-within {
            scroll-behavior: smooth;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        :focus-visible {
            transition: outline-offset 105ms cubic-bezier(0.25, 0, 0.4, 1);
        }

        :where(:not(:active)):focus-visible {
            transition-duration: 0.275s;
        }
    }

    /*  [2] Use offset to highlight visible interactive focus. */
    :where(:not(:active)):focus-visible {
        outline-offset: 5px;
    }
}

/*  ==========================================================================
        Typoggraphic Sizes: Font: Line-Hieghts, Type Scales
        ==========================================================================
        - TypeScale: Last Accessed: 2023-01-22: URL: https://type-scale.com/
        - Base: 16px (100%/1em)
        - Scale: 1.333 Perfect Forth: 3:4          Perfect Fith
        - Font Choice: Affects Visual Size
        - Font Weight: 400-800
        - 1rem/16.00px:         Basedline Font
        - 1.333 rem/21.33px:    H4 Font           1.5rem/24.00px
        - 1.777 rem/28.43px:    H3 Font           2.2.5/36px
        - 2.369rem/37.90px:     H2 Font           3.75rem/54px
        - 3.157rem/50.52px:     H1 Font           5.063/81.00px
        */

@layer typography {
    @layer fonts {
        @layer title-fonts {
            /*! Generated by Font Squirrel (https://www.fontsquirrel.com) on February 11, 2023 */
            @font-face {
                font-family: 'lobster2';
                font-style: italic;
                font-weight: bold;
                src: url('webfonts/body/lobstertwo-bolditalic-webfont.woff2') format('woff2'), url('../webfonts/titles/lobstertwo-bolditalic-webfont.woff') format('woff');
            }

            @font-face {
                font-family: 'lobster2';
                font-style: italic;
                font-weight: normal;
                src: url('webfonts/body/lobstertwo-italic-webfont.woff2') format('woff2'), url('../webfonts/titles/lobstertwo-italic-webfont.woff') format('woff');
            }

            @font-face {
                font-family: 'lobster2';
                font-style: normal;
                font-weight: normal;
                src: url('webfonts/body/lobstertwo-regular-webfont.woff2') format('woff2'), url('../webfonts/titles/lobstertwo-regular-webfont.woff') format('woff');
            }

            @font-face {
                font-family: 'speakeasy';
                font-style: normal;
                font-weight: normal;
                src: url('webfonts/titles/sf_speakeasy-webfont.woff2') format('woff2'), url('sf_speakeasy-webfont.woff') format('woff');
            }

            @font-face {
                font-family: 'vastshadow';
                font-style: normal;
                font-weight: normal;
                src: url('webfonts/titles/vastshadow-regular-webfont.woff2') format('woff2'), url('../webfonts/titles/vastshadow-regular-webfont.woff') format('woff');
            }

            @font-face {
                font-family: 'MegalopolisXR';
                font-style: normal;
                font-weight: normal;
                src: url('webfonts/titles/MegalopolisExtra-Regular.woff2') format('woff2'), url('../webfonts/titles/MegalopolisExtra-Regular.woff') format('woff');
            }
        }

        @layer style-font {
            @font-face {
                font-family: 'babylonica';
                font-style: normal;
                font-weight: bold;
                src: url('webfonts/babylonica-regular-sigfont.woff2') format('woff2'), url('../webfonts/babylonica-regular-sigfont.woff') format('woff');
            }

            @layer body-fonts {
                /*! Base generated by Font Squirrel (https://www.fontsquirrel.com) on February 11, 2023, &amp; customised by author */
                /* Kanit: A notable detail is that the stroke terminals have flat angles, which allows the design to enjoy decreased spacing
                        between letters while preserving readability and legibility at smaller point sizes. */
                @font-face {
                    /*Black Weight 900*/
                    font-family: 'kanit';
                    font-style: normal;
                    font-weight: normal;
                    src: url('webfonts/kanit-black-webfont.woff2') format('woff2'), url('../webfonts/titles/kanit-black-webfont.woff') format('woff');
                }

                @font-face {
                    /*Bold Weight 700, H2,3*/
                    font-family: 'kanit';
                    font-style: normal;
                    font-weight: bold;
                    src: url('webfonts/kanit-bold-webfont.woff2') format('woff2'), url('../webfonts/titles/kanit-bold-webfont.woff') format('woff');
                }

                @font-face {
                    /*Medium Weight 500: H4,5,6*/
                    font-family: 'kanit';
                    font-style: normal;
                    font-weight: normal;
                    src: url('webfonts/kanit-medium-webfont.woff2') format('woff2'), url('../webfonts/titles/kanit-medium-webfont.woff') format('woff');
                }

                @font-face {
                    /*Regular Weight 400: Text*/
                    font-family: 'kanit';
                    font-style: normal;
                    font-weight: normal;
                    src: url('webfonts/kanit-regular-webfont.woff2') format('woff2'), url('../webfonts/titles/kanit-regular-webfont.woff') format('woff');
                }
            }

            :root {
                /*
                        Reference: Masa Kudamatsu,23-10-2021; "Which fallback fonts should we choose to make FOUT less jarring"
                        URL: https://dev.to/masakudamatsu/which-fallback-fonts-should-we-choose-to-make-fout-less-jarring-3d8d
                        Last Accessed: 2023-02-11:
                    */
                --title-fallback-fonts: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", "Liberation Sans", "Liberation Serif" ;
                --title-family-generics: fantasy cursive serif;

                --logo-lobster2: "lobster2" ;
                --logo-speakeasy: "sf_speakeasy";
                --logo-vastshadow: "'vastshadow" ;
                --logo-megaopolisXR: "MegalopolisXR" ;
                --logo-custom-font: var(--logo-lobster2);

                --script-font: babylonica;
                --script-fallback: var(--title-family-generics);
                --script-font-family: var(--script-font), var(--script-fallback);

                --body-custom-font: kanit;
                --body-fallback: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", "Liberation Sans", "Liberation Serif" ;
                --body-family-generics: sans-serif serif monospace;

                --logo-font-families: var(--logo-custom-font) var(--title-fallback-fonts) var(--title-family-generics);
                --heading-font-families: var(--body-custom-font) var(--title-fallback-fonts) var(--title-family-generics);
                --body-font-families: var(--body-custom-font) var(--body-fallback) var(--body-family-generics);
            }

            body {
/*                 font-family: kanit sans-serif; */
                font-weight: 500;
                letter-spacing: 0px;
                word-spacing: 0.95px;
            }

            h1#sitelogo.fo-sitename {
                color: #faf4f4;
                font-family: lobster sans-serif;
                font-family: var(--logo-lobster2);
                font-size: var(--font-size-xxxxl);
                font-weight: 900;
                letter-spacing: 0px;
                line-height: 1.5;
                margin: 0px;
                text-shadow: 0.9px -0.1px 4px rgba(255, 251, 251, 0.888);
                word-spacing: 0.95px
            }

            label#navigation.fo-sitename {
                color: #faf4f4;
                font-family: lobster2 sans-serif;
                font-family: var(--logo-lobster2);
/*                 font-size: var(--font-size-xxxxl); */
                font-weight: 900;
                letter-spacing: 0px;
                line-height: 1.5;
            }

            #navigation {
                border: 1px solid hsl(0, 15%, 6%);
                color: #faf4f4;
                font-family: var(--logo-font-families);
                font-family: lobster sans-serif;
/*                 font-size: var(--font-size-xl); */
                font-weight: 700;
                letter-spacing: 0px;
                line-height: 1.5;
                margin: 0px 0px 10px 0px;
                text-align: center;
                word-spacing: 0.95px;
            }

            @media (min-width: 548px) {
                h1#sitelogo.fo-sitename {
                    font-size: var(--font-size-xxxl);
                }

            }

            @media (max-width: 409px) {
                h1#sitelogo.fo-sitename {
                    font-size: calc(var(--font-size-lg) * 1.3);
                }

                #navigation {
                    font-size: calc(var(--font-size-md) * 1.0);
                }

                #toggle-menu {
                    height: calc(var(--font-size-md) * 1.6);
                    width: calc(var(--font-size-md) * 1.6);
                }


            }

            @media (max-width: 361px) {
                h1#sitelogo.fo-sitename {
                    font-size: calc(var(--font-size-md) * 1.3);
                }

                #navigation, #toggle-menu {
/*                     font-size: calc(var(--font-size-md) * 0.9); */
                    /* padding-top: 1rem; */
                }
            }

            h2,h3 {
                font-family: var(--heading-font-families);
                font-family: "lobster2" sans-serif;
                font-weight: 700;
                letter-spacing: 0px;
                line-height: 1.6;
                word-spacing: 0.95px;
            }

            h4,h5,h6 {
                font-family: var(--body-font-families);
                font-family: "kanit" sans-serif;
                font-weight: 500;
                letter-spacing: 0px;
                line-height: 1.6;
                word-spacing: 0.95px;
            }

            label.navstyle {
                font-family: kanit sans-serif;
                margin: auto;
                padding: 10px;
            }

        }

        @layer font-sizes {
            :root {
                --font-size-sm: clamp(0.8rem, 0.09vw + 0.78rem, 0.89rem);
                --font-size-base: clamp(1rem, 0.19vw + 0.95rem, 1.19rem);
                --font-size-md: clamp(1.25rem, 0.34vw + 1.16rem, 1.58rem);
                --font-size-lg: clamp(1.56rem, 0.56vw + 1.42rem, 2.11rem);
                --font-size-xl: clamp(1.95rem, 0.88vw + 1.73rem, 2.81rem);
                --font-size-xxl: clamp(2.44rem, 1.34vw + 2.11rem, 3.75rem);
                --font-size-xxxl: clamp(3.05rem, 2vw + 2.55rem, 5rem);
                --font-size-xxxxl: clamp(2.81rem, 1.92vw + 2.08rem, 4.66rem);
                --font-size-xxxxxl: clamp(3.81rem, 4.03vw + 4.45rem, 11.84rem);
            }
        }
    }
}

/*  ==========================================================================
  Compositon: Canvas: Structure, Layout, Dimensions, Semantics
  ==========================================================================  */
@layer composition {
    @layer canvas {
        html {
            background-color: #1A1614;
            height: 100vh;
            height: auto;
            margin: 0px !important;
        }

        body {
            height: 100%;
            height: auto;
            margin: 0px;
            margin-right: -8px;
            position: relative;

        }
    }
}

@layer ia {
    #main-land, #main-portfolio, #main-work {
        background-color: hsl(20, 13%, 9%);
        display: grid;
        margin-right: -8px;
    }

    @layer ia.navigation {


        .fo-banner {
            block-size: 6.25rem;;
            border-bottom: 10px solid #fafafa;
            isolation: isolate;
            margin-inline: auto;
            position: relative;
            text-align: center;
            z-index: 11;
        }

        .fo-nav {
            block-size: 6.25rem;
            display: inline;
            max-block-size: 6.25rem;
            min-block-size: 3vmin;
            min-inline-size: 100vw;
            text-align: justify;
        }

        .fo-nav-grid {
            block-size: 6rem;
            inline-size: 100%;
            max-block-size: 6rem;
            max-inline-size: inherit;
            min-block-size: 5rem;
            min-inline-size: 288px;
            padding-block: 0%; }

        .fo-nav-grid {
            display: grid;
            grid-template-areas: "menu-bar";
            grid-template-columns: [bar-col] 1fr;
            grid-template-rows: [bar-row] 1fr;
        }

        .fo-nav-flex {
            display: flex;
            flex: 1 0 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin-block: 0%;
            max-block-size: 6rem;
            padding-block: 0%; }

        @layer nav-layout{
            @media (max-width: 968px) {
                :root {
                    --menu-align: 0px;
                    --nav-right-shift: 0px ;
                    --overlay-height: 640px;
                    ; --overlay-width: 360px;
                }
            }

            @media (max-width: 968px) {
                :root {
                    --menu-align: 0px;
                    --nav-right-shift: 0px ;
                    --overlay-height: 726px;
                    --overlay-width: 408px;
                }

                .fo-styled-line, .fo-navstyled-line {
                    display: none;
                }
            }

            @media (min-width: 968px) {
                :root {
                    --menu-align: 40px;
                    --nav-right-shift: -76px;
                    --overlay-width: ;
                }

                .fo-styled-line, .fo-navstyled-line {
                    display: inline-block;
                }
            }

            @media (min-width: 1680px) {
                :root {
                    --menu-align: 40px;
                    --nav-right-shift: -180px;
                }

                .fo-styled-line, .fo-navstyled-line {
                    display: inline-block;
                }
            }

            .fo-logo-holder {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                position: relative;
                z-index: 11;
            }

            .fo-nav-holder {
                block-size: 5em;
                display: flex;
                flex: 0 0 100%;
                flex-flow: column nowrap;
                inline-size: 10rem;
                justify-content: center;
                margin-block: auto; margin-inline-end: var(--menu-align);
                margin-inline-start: auto;
                max-block-size: 5rem;
                max-inline-size: 10rem;
                position: relative;
                z-index: 11;
            }

        }
            @layer nav-footer {
                @media (max-width: 968px) {
                    :root {
                        --nav-top-align: 6rem;
                        ; }

                    .fo-footer-left {
                        --nav-footer-left: 0px;
                        --footer-bottom-adjust: 0rem;
                    }

                    .fo-footer-right {
                        --nav-footer-align: 100%;
                    }

                    #navigation {
                        border: none;
                    }
                }

                @media (min-width: 968px) {
                    :root {
                        --footer-bottom-adjust: -5rem ;
                    }

                    .fo-footer-right {
                        --nav-footer-align: 60%;
                    }
                }

                .nav-wrapper {
                    margin-top: var(--nav-top-align) ;
                }

                .fo-menu-footer {
                    background-color: #0a0500;
                    /* color: #fff; */
                    border-top: 7px solid;
                    bottom: var( --footer-bottom-adjust);
                    display: flex;
                    flex-flow: row wrap;
                    height: 15vh;
                    /* right: 0px; */
                    left: 0px;
                    max-inline-size: 110vw;
                    max-inline-size: 110vi;
                    max-inline-size: 110dvw;
                    max-inline-size: var( --overlay-width);
                    position: absolute;
                    width: 100%;
                }

                .fo-footer-services {
                    isolation: isolate;
                }

                .fo-footer-services > p {
                    width: clamp(33ch, 240px, 44ch);
                }

                .fo-footer-right {
                    display: inline-flex;
                    flex-flow: row nowrap;
                    margin-left: auto;
                    place-content: space-around;
                    place-self: center end;
                    width: var( --overlay-width);
                }

                .fo-footer-right a {
                    display: flex;
                    flex-flow: row nowrap;
                    /* margin-left: 0%; */
                    width: 15%;
                }

                .fo-footer-jump {
                    margin-right: auto;
                    place-self: center flex-start;
                    width: 5%;
                }

                .fo-footer-cta {
                    place-self: center flex-end;
                    text-align: right;
                    width: 50%;
                }
            }

            div > .fo-styled-line {
                background-color: #0a0500;
                height: 5px;
                width: 100%;
                z-index: 11;
            }

            .fo-navstyled-line {
                background-color: #0a0500;
                height: 6.6px;
                margin-top: 6.65rem;
                width: 100%;
            }

            @layer menu {


                .fo-menu-style {
                    font-family: lobster;
                    font-size: var(--font-size-xxxxl);
                }

                .fo-nav-dotted {
                    border-bottom: 3px dotted #0a0500;
                    height: 3px;
                    margin-inline: 5%;
                    width: 90%;
                }


                @media (max-height: 360.999px) {
                    :root {
                        --menu-viewport-block: 92dvh;
                        --menu-items-block: 1.5rem;
                        --menu-item-margin-top: 100px;
                    }
                }
                @media (max-width: 548.999px) {
                    :root {
                        --menu-viewport-block: 92dvh;
                    }
                }

                @media (max-height: 548.999px) and (max-width: 834px) and (orientation: landscape) {
                    :root {
                        --menu-viewport-block: 99dvh;
                        --menu-items-block: 1.5rem;
                        --menu-item-margin-top: 2rem;
                    }
                }

                @media (min-width: 834px)  {
                    :root {
                        --menu-viewport-block: 99dvh;
                        --menu-viewport-inline: 108dvw;
                        --menu-viewport-rightalign: -2rem;
                        --menu-item-padalign: 8rem;
                    }
                }
                @media (min-width: 1201px) and (max-width: 1680.999px) {
                    :root {
                        /* --menu-viewport-block: 99dvh;
                        --menu-viewport-rightalign: -32px;
                        --menu-viewport-inline: 118dvw; */
                    }
                }
                @media (min-width: 1681px) and (max-width: 1948px) {
                    :root {
                        /* --menu-viewport-rightalign: -164px;
                        --menu-viewport-inline: 118dvw;
                        --menu-viewport-block: 99dvh; */
                    }
                }


            .fo-menu {
                background-color: #fafafa;
                block-size: var(--menu-viewport-block, 100dvh);
                border-radius: 5px;
                display: flex;
                flex-flow: column nowrap;
                /* display: flex;
                flex-flow: column nowrap; */
                inline-size: var(--menu-viewport-inline, 103dvw);
                padding-inline: 20%;
                position: absolute;
                right:  var(--menu-viewport-rightalign, 0px);
                top: 80px;
                visibility: hidden;
                z-index: 2;
            }

            .fo-menu-layout {
                /* height: 100%; */
                /* max-width: 100dvw;
                min-height: 100%; */
                /* position: absolute; */
            }

            .fo-menu-social-icons {
                margin-inline: 20%;
            }

                .fo-nav-site {
                    align-items: start;
                    block-size: 5rem;
                    box-sizing: border-box;
                    display: flex;
                    flex: 0 0 100%;
                    flex-flow: row nowrap;
                    inline-size: 10rem;
                    /* isolation: isolate; */
                    margin-block: 20px auto; padding: 0px;
                    place-content: center;
                    position: relative;
                    z-index: 10;
                }

                #navigation {
                    align-content: space-around;
                    align-self: center;
                    border: 7.5px solid #fafafa;
                    border-radius: 50%;
                    /* box-shadow: 0.9px -0.1px 4px rgba(255, 251, 251, 0.888); */
                    box-sizing: border-box;
                    height: 90%;
                    isolation: isolate;
                    padding-block-start: 10%;
                    position: absolute;
                    width: 100%;
                    z-index: 10;
                }

                .fo-nav-site:focus-within + #navigation {
                    background: transparent;
                    /* z-index: 11; */
                }

                @media (max-width: 548px) {
                    #navigation {
                        border: 7.5px solid transparent; }
                }

                .fo-toggle {
                    align-self: center;
                    appearance: auto;
                    background-color: #faf4f4;
                    box-shadow: initial;
                    cursor: pointer;
                    flex: none;
                    inset: 22% 25% 0 25%;
                    /* isolation: isolate; */
                    margin-inline: auto;
                    opacity: 0;
                    position: absolute;
                    /* z-index: 1; */
                }


                .fo-menu-layout ul {
                    display: flex;
                    flex-basis: 2rem;
                    flex-flow: column nowrap;
                    flex-grow: 0;
                    flex-shrink: 1;
                    gap: 2rem;
                    justify-content: space-between;
                    justify-items: center;
                    list-style: none;
                    margin: var(--menu-item-margin-top, 100px) 0px 100px;
                    padding-left: var(--menu-item-padalign, initial)
                }

                .fo-menu-layout ul li:not(.fo-nav-dotted) {
                    block-size: auto;
                    border-radius: 20px;;
                    box-shadow: 9px 9px 19px -5px rgba(0,0,0,0.5);
                    box-sizing: content-box;
                    cursor: pointer;
                    display: inline-block;
                    justify-self: center;
                    margin-inline: 5%;
                    pointer-events: all;
                    text-align: center;
                }

                .fo-nav-link{
                    display: inline-block;
                    font-family: lobster sans-serif;
                    font-family: var(--logo-lobster2);
                    font-size: var(--font-size-xxxxl);
                    font-weight: 900;
                    letter-spacing: 0px;
                    margin: 0px;
                    text-shadow: 0.9px -0.1px 4px rgba(32, 32, 32, 0.888);
                    width: 90%;
                    word-spacing: 0.95px;
                }

                .fo-nav-site:focus-within ~ .fo-nav-site .fo-menu-overlay, .fo-nav-site #toggle-menu:checked + .fo-menu {
                    visibility: visible;
                }

                #toggle-menu:checked:is(.fo-nav-site:focus-within) + .fo-menu {
                    visibility: visible;
                    z-index: 9;
                }

                #toggle-menu:checked:is(.#navigation:focus-within) + .fo-menu {
                    visibility: visible;
                }
            }
    }



@layer interactions {
            a:any-link {
            color:hsl(20, 13%, 9%);
            text-decoration: none
            }
            li:hover, .fo-nav-link:hover {
                background-color: #e0dbdb;
                box-shadow: 9px 9px 19px -5px rgba(84, 55, 55, 0.5);
                cursor: pointer;
                display: block;
            }

            .fo-social-comms {

                column-gap: clamp(0.25rem, 1%, 1rem);
                display: flex;
                flex-basis: 1rem;
                flex-flow: row wrap;
                flex-grow: 0;
                flex-shrink: 1;
                justify-content: space-between;
                justify-items: center;
                list-style: none;
                padding-left: 5%;
            }
    }

    .fo-social-link > img {
        aspect-ratio:  1 / 1;
        background-color: transparent;
        border-radius: 4px;
        box-shadow: 9px 9px 19px -5px rgba(84, 55, 55, 0.5);
        transform: scale(1.05);
        transform-origin: center
    }

    @layer styles {

                @layer style-nav {
                    .nav-surface-cta {
                        font-size: 5rem;
                        font-weight: 650;
                    }

                    /* */
                    .nav-surface-cta ~ a, .nav-surface-cta a {
                        color: var(--cta-link);
                        color: #000;
                        font-weight: 650;
                        text-decoration: none;
                    }

                    .nav-surface-cta a:link {
                        color: var(--cta-link);
                    }

                    .nav-surface-cta a:hover {
                        color: var(--cta-hover);
                        text-decoration: initial;
                    }

                    .nav-surface-cta a:target {
                        color: var(--cta-target);
                        text-decoration: initial;
                    }

                    .nav-surface-cta a:visited {
                        color: var(--cta-visited);
                    }
                }

                @layer styles-all {



                    .fo-h2-small, .fo-h3-small {
                        font-kerning: auto;
                        font-size: 0.75rem;
                        font-stretch: expanded;
                        font-variant-caps: small-caps;
                        letter-spacing: .186rem;
                    }
                    .fo-h1-large {
                        font-kerning: auto;
                        font-size: var(--font-size-xl);
                        font-stretch: expanded;
                        font-variant-caps: small-caps;
                        letter-spacing: .186rem;
                    }

                    .fo-text-l {
                        font-size: 1.1rem;
                    }

                    .fo-text-xxl {
                        font-size: 1.3rem;
                    }
            }
}}