@layer folio {

  @layer folio-layout {

        html, #portfolio {
          background-color: #1A1614;

          box-sizing: border-box;
/*           max-width: 99.5dvw !important; */
        }


        #main-portfolio {
          background-color: #1A1614;
          box-sizing: border-box;
          display: grid;
/*           grid-auto-columns: 99dvw; */
          grid-auto-rows: auto;
          grid-template-areas: "fo-folio-client1" "fo-folio-client2";
          grid-template-columns: 95.5dvw;
          margin-block-start: 2rem;
          margin-inline: auto;
          margin-left: 2.5dvw;
          /* max-width: 95vw; */
          overflow-x: visible;
          padding-inline: 0px;
        }

        #portfolio .fo-hero {
          display: flex;
          height: 80%;;
          overflow: hidden;
          place-content: center;
          position: relative;
          width: 100dvw;
        }

        .fo-hero-cover {
          aspect-ratio: 16 / 3;
          height: 80%;
          object-fit: cover;
          object-position: top center;
          transform: scaleX(0.9);
          transform-origin: bottom right;
        }

        @media screen and (max-width: 548.999px) and (orientation: portrait) {

            #main-portfolio{
                height: 100%;
                row-gap: 1rem;
            }

            #clients-client-1 {
              /* background-color: #d8c9c9; */
              /* outline: 2px solid pink; */
            }
            #clients-client-2 {
              /* outline: 2px solid orangered; */
            }

            .fo-folio-client {
              /* aspect-ratio: 360 / 640; */
              height: 100%;
              max-width: 99.5dvw !important;
              /* outline: 2px solid orangered; */
            }

        }

        /* Landscape: Fixed+: Columnar */
        @media screen and (max-height: 548.999px) and (max-width: 834px) and (orientation: landscape) {

            #main-portfolio {
                row-gap: 2rem;
            }
        }

        #clients-client-1 {
            grid-area: fo-folio-client1;
            position: relative;
        }

        #clients-client-2 {
            grid-area: fo-folio-client2;
            position: relative;
        }

        .fo-folio-client {
              /* aspect-ratio: 16 / 9; */
              height: 100%;
              /* outline: 2px solid orangered; */
        }
    }


    @media screen and (min-width: 548px) and (max-width: 1200.999px) {

      #main-portfolio {
        row-gap: 6.125rem;
      }

    }
    @media screen and (min-width: 1201px) {

      #main-portfolio {
        row-gap: 10rem;
      }

    }


    @layer folio-clients {
        @media (max-width: 548.999px) {
            :root {
                --infocard-direction: row;
                /* --card-aspect: 9 / 21; */
                --card-row-gap: 0;
                --card-col-gap: 4rem;
                --client-detail-inline: 85%;
            }

          .fo-card-images {
            margin-block: 10%;;
            transform: scale(0.9);
          }
          .fo-card-img {
          }
        }



        @media (max-height: 548.999px) and (max-width: 834px) and (orientation: landscape) {
            :root {
                --infocard-direction: column;
                /* --card-aspect: 16 / 9; */
                --card-row-gap: 4rem;
                --card-col-gap: 0;
                --client-detail-inline: 85%;
            }
        } */

        @media (min-width: 534px) and (max-width: 1200.999px) {
            :root {
                --infocard-direction: row;
                --card-row-gap: 4rem;
                --card-col-gap: 0;
                --client-detail-inline: 65%;
                --card-margin-left: 10%;
                --card-margin-right: 10%;
                --card-scale-down: 0.9;
            }
        }


        @media (min-width: 835px)or (min-height 768px) {

            #card-client-2 > .fo-card-images {
              order: 2;

            }
            #card-client-2 > .fo-card-details {
              order: 1;
            }
        }

        #clients-client-1 {
            block-size: 100%;
            grid-area: fo-folio-client1;
        }

        #clients-client-2 {
            block-size: 100%;
            grid-area: fo-folio-client2;
        }

        .fo-folio-container {
            display: flow-root;
        }

        .fo-client-card {
            align-content: center;
            /* background-color: blue; */
            border-radius: var(--card-corners, 20px);
            color: #1d1d1d;
            column-gap: var(--card-col-gap);
            display: flex;
            flex-flow: var(--infocard-direction) wrap;
            min-block-size: 360px;
            row-gap: var(--card-row-gap);
          }

          #card-client-1.fo-client-card{
            background-color: #B15A5A;
          }
          #card-client-2.fo-client-card{
            background-color: #F0C955;
          }
          #card-client-1.fo-client-card .fo-card-images {
            background-color: #B15A5A;
             transform: scale(0.9);
            }
            #card-client-2.fo-client-card .fo-card-images{
              background-color: #F0C955;
              transform: scale(var(--card-scale-down, 1));
              transform: scale(0.9);
          }

          :is(#card-client-1, #card-client-2)  aside {
            align-content: space-around;
            align-items: center;
            background-color: #ACADB0;
            border-radius: 4px;
            box-shadow:
                2.5px 1px 8px 0.5px #fafafa,
                3px 2px 4px 1px hsla(20, 13%, 9%, 0.477);
            display: flex;
            inline-size: auto;
            justify-content: center;;
            margin-inline: auto;
            max-inline-size: 66%;
            min-height: 4rem;
          }

          :is(#card-client-1, #card-client-2)  aside p {
            font-size: var(--font-size-base);
            text-align: center;
            width: 75%;
          }

          @media (max-width: 408px) {
             :is(#card-client-1, #card-client-2)  aside p {
                    font-size:calc( var(--font-size-base) * 0.8 );
                    font-weight: 700;
                    hyphens: manual;
                    min-inline-size: min-content;
                    overflow-wrap: break-word;;
             }
          }

          .fo-card-img, .fo-card-details {
            border-radius: 20px;
            inline-size: 100%;

          }

          .fo-card-details :is(header, h1) {
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
          }


          .fo-card-details {
          /* background-color: #B15A5A;; */
          background-color: #ACADB0;
          min-inline-size: 40dvw;
        }

        .fo-card-images {
            border-radius: var(--card-corners, 20px);;
            display: flow-root;
            margin-inline: auto;
            min-inline-size: 50dvw;
            place-content: center;
            place-self: center;

        }

        .fo-card-img {
          display: flex;
          padding-top: 5%;
        }

        .fo-card-img img {
          margin-block: 5%;
          margin-inline: auto;
        }

        .fo-card-img p {
            margin-inline: 50px;
            /* padding-inline: 50px; */
        }


        picture :is( source, img ) {
            background-color: hsla(38 18% 88% / 0.993);
            background-image: url(/assets/img/placeholders/placeholder1X1.png);
            background-origin: border-box;
            background-position: top;
            background-repeat: no-repeat;
            background-size: auto auto;
        }

        .fo-card-details * {
          box-sizing: border-box;
        }

        .fo-card-details {
            align-items: flex-start;
            align-self: center;
            display: flex;
            flex-flow: column nowrap;
            /* inline-size: var(--client-detail-inline); */
            max-inline-size: 66ch;
        }

        .fo-client-row {
            display: flex;
            flex-flow: row nowrap;
            outline: initial;
            width: 100%;
        }

        #portfolio .dotted {
            border-bottom: 3px dotted  #2d2d2d;
            box-sizing: border-box;
            height: 3px;
            margin-inline: 5%;
            width: 90%
        }
        .fo-client-row header {
          block-size: 1rem;
          display: flex;
          flex-flow: row wrap;
        }

        header.fo-client-row {
          background-color: #2d2d2d;
          color: #faf4f4;
        }

        .fo-client-row h1 {
            background-color: #2d2d2d;
            margin-inline-start: 5%;
            padding-block-end: 5%; }

        .fo-client-row h2 {
            margin-inline-start: 5%;
            padding-block-end: 5%; }

        .fo-client-row ul {
            display: flex;
            flex-flow: row nowrap;
            list-style: none;
            margin-block-end: 0.5rem;
            padding-block-end: 2%;
        }

        .fo-client-row ul li {
          display: block;
        }

        #type-client-1.fo-client-row ul.fo-client-row {
          flex-flow: row nowrap;
          margin-top: 0.25rem;
        }

        ul.fo-client-row {
          padding-left: 0px;
        }

        .fo-client-label {
            align-self: center;
            flex-grow: 0;
            margin-inline-start: 5%;
            min-inline-size: 11ch;

        }

        .fo-client-data {
          width: 80%;
        }
        .fo-client-data ul {
            display: flex;
            flex-flow: column nowrap ;
            list-style: round ;
        }

        .fo-align-start {
          align-self: self-start;
        }

        .fo-list-style li::before {
          content: "+ ";
        }

        .fo-client-data:not(#client-url) {
            flex-basis: 65%;
            margin-inline-start: 5%;
        }

        @layer client-style {
        }
    }

}