/* ==========================================================================
  The Folio: Layer Established Ordering
  References: http://css-tricks.com/css-cascade-layers, Last accessed: 2023-01-24
  Why: a) Code Organisation / Ordering; b) Code Browsing using Code Folding in IDE
  #   Cascade     Layer               Purpose
  1)  Least:        Reset               Resets UA Styles and Asserts Weakness base styles
  2)                  global-defaults Author Defaults and base Design Tokens
  3)                  global-sizes     Author Core Sizes
  4)                  brand folio       Site Branding for The Digital Folio Design
  5)                  preferences      Site Level User Choices
  6)                  typography      Site Type & Font Copy style
  7)                  composite        Site Composite Styles: Canvas, Layout, Navigation, Body, Footer
  8)                  ia                    Site IA Styles: Site Regional Style for page group styles/isolation of styles.
  8)                  utility              Site Cross Uses styles.
  9)                  blocks             Component specific styles for unique block level styles
  10)                except             Exceptions / Unqiues / Variants
  11) Powerful:  unlayer            Unlayers, most closely related / unique styles as needed.
                                            & or most specific styles and powerful styles.
  ========================================================================== */

@layer reset,  global-defaults,  global-sizes,  brand-folio,  preferences,   typography,  responsive;
@layer compose,  compose.canvas,   compose.layout,  compose.banner,   compose.navigation,   compose.body,   compose.footer;
@layer ia,  ia.landing,  ia.info,  ia.clients,  ia.work;
@layer utilities,  blocks,  except;

/*
  The Folio: Reset Layer
  ========================================================================== */

@layer reset {
    /* Root Resets */
    @layer root {
        /* Global Reset
      /* ==========================================================================
            THE DIGITAL FOLIO: CI SUBMISSION: 3RD PARTY RESETS: CODE SEPARATION OF CONCERNS
            [0] Author: Charles Fowler (Own decisions and adjustments)
            [1] Base Reset: Kevin Powell: URL:https://www.youtube.com/watch?v=2lyDv0wOQuQ,
            Last Accessed: 2023-01-11
            [2] A modern css reset: Elly Loel: URL https://gist.github.com/EllyLoel/4ff8a6472247e6dd2315fd4038926522 ✮✮✮
            Last Accessed: 2023-01-11:
            Credits: Josh W Comau, Andy Bell, Adam Argyle
            Assessment: I rewrote these resets as-is for greater learning and customisation/selection.
            Reference: These are strictly referenced and itemised. Compare to orginal.
                      Where is a difference, Author has concienciously omitted, or changed due to
                      [a] scope or [b] lack of understanding/familiarity [c] Own opinon.
            Criterion: Code separation of 3rd Party concerns, utilising Layers and Imports.
            Rating: ✮: Minimal, ✮✮: More Opinionated, ✮✮✮: Highly Opinionated
        ========================================================================== */

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        /* [1] Resets margin, padding for explicit. [✮✮]
        [1] Reset font sizes, font weights. [✮✮] */
        * {
            font: inherit;
            margin: 0;
            padding: 0;
        }

        /*
        Root Resets
        ========================================================================== */

        html {
            block-size: 100%;
            block-size: calc(100vh + 1rem);
            color-scheme: dark light;
            font-size: 1rem;
            margin: 0;
            -webkit-text-size-adjust: none;
        }
    } /*root*/

    /*
    View Resets
    ========================================================================== */

    @layer view {
        /* [1] Sets a minimum height on body [✮✮]
        [2] Allow &sizes on blocks.[✮✮]*/
        body {
            margin: unset;
            min-block-size: 100%;
            min-block-size: 100vh;
        }
    } /*view*/

    /*
    Media Resets
    ========================================================================== */

    @layer media {
        /* MEDIA
          [1,2] Ensure all media is responsive, with low specificity. [✮✮]*/
        :where(img, picture, svg, video, embed, object) {
            display: block;
            max-inline-size: 100%;
        }

        /* [2] Ensure key media has improved defaults. [✮✮]*/
        :where(img, svg, video) {
            block-size: auto;
            max-inline-size: 100%;
        }
    } /*Media*/

    /*
    Forms Resets
    ========================================================================== */

    @layer forms {
        /* FORMS
          [1,2] Standardised forms typograghpy [✮,✮✮✮]*/
        :where(input, textarea, button, select) {
            color: inherit; /*[2]*/
            font: inherit; /*[1]*/
            font-size: inherit; /*[2]*/
            letter-spacing: inherit;
            word-spacing: inherit;
        }

        /* [2] Textarea to Vertical [✮✮✮]
              [2] Textaarea to block if browser supports. [✮✮✮]*/
        :where(textarea) {
            resize: vertical;
        }

        @supports (resize: block) {
            :where(textarea) {
                resize: block;
            }
        } /*Supports Resize*/
    } /*Forms*/

    /*
    Semantic Resets
    ========================================================================== */

    @layer semantics {
        /* HEADERS
          [2] Headers, all, no text overflow. [✮✮]*/
        :where(p, h1, h2, h3, h4, h5, h6) {
            overflow-wrap: break-word;
        }

        /* 2 Default H1 to 2em inside semantic content. [✮✮✮]*/
        :where(article, nav, aside, section) h1 {
            font-size: 2em;
        }

        /* LISTS, MENU (Navigations)
        /* [2,0] Position list marker inside [✮✮✮]*/
        :where(menu, ul, ol) {
            list-style-position: outside; /*[0]*/
        }

        /* [2] ARIA Menu: remove List Style [✮✮✮],
            [0] Change Role to menu, was "List" [2], being more specific for a11y navigation patterns.*/
        :where(menu, ul, ol)[role="menu"] {
            list-style: none;
        }
    } /*semantics*/

    /*
    UI Resets
    ========================================================================== */

    @layer ui {
        /* INTERACTIVE
          [2] Anchor tags, no class, readability.*/
        a:not([class]) {
            text-decoration-skip-ink: auto;
        }

        /* [2] Assure interactive elements are interactive.
      /* [2] Not Yet: Not including File inputs. Not in scope. #Exception.*/
        :where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
            appearance: auto;
            cursor: pointer;
            touch-action: manipulation;
        }
    } /*ui*/

    /*
    Ineractions Resets
    ========================================================================== */

    @layer interactions {
        /* NO INTERACTION*/
        /* [2] Disable Button Text Selection*/
        /* [0] Removed: File & Webkit Selectors*/
        /* Validated:
        */
        :where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]) {
            -webkit-tap-highlight-color: transparent;
            text-align: center;
            -webkit-touch-callout: none;
            user-select: none;
        }

        :where(button, fieldset, input, legend, select, textarea) {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    } /*interactions*/
} /*Reset*/

/*  ================================================================================
    *   End of Reset Layer
    *   ===============================================================================*/

/*  ================================================================================
*       Wireframes:
*       Set Wiresframe Outlines Colors and Borders
*   ================================================================================*/

@layer wireframe {
    :root {
        --wf-surface1: #fff;
        --wf-surface2: #ff94e6;
        --wf-surface3: #a2e5ff;
        --wf-surface4: #7ffeb6;
        --wf-surface5: #6687ff;
        --wf-surface6: #eeff6f;
        --wf-surface7: #8bff1f;
        --wf-surface8: #ffc56f;
        --wf-surface9: #fd3f3f;

        --wf-border1: 2px dotted var(--wf-surface1);
        --wf-border2: 2px dotted var(--wf-surface2);
        --wf-border3: 2px dotted var(--wf-surface3);
        --wf-border4: 2px dotted var(--wf-surface4);
        --wf-border5: 2px dotted var(--wf-surface5);
        --wf-border6: 2px dotted var(--wf-surface6);
        --wf-border6: 2px dotted var(--wf-surface7);
        --wf-border6: 2px dotted var(--wf-surface8);
        --wf-border6: 2px dotted var(--wf-surface9);
    }
}

/*  ================================================================================
*   Global Defaults
*   Defaults are not resets. Purpose: To establish site wide defaults for certain high frequent elements
*   ================================================================================*/

@layer global-default {
    @layer boxes {
        /* Box Model: */
        :root {
            --border-model: content-box;
            --box: var(--border-model, border-box);
        }
    }
} /*Defaults*/

/* ================================================================================*/

@layer gloabl-sizes {
    /*
 Root Components Block Sizing
 ========================================================================== */
    @layer sizing-spaces {
        /* Sizings and Spacing */
        :root {
            /* Global Spacing*/
            /* https://en.wikipedia.org/wiki/Line_length#Electronic_text*/
            --global-line-len-em: 33em;
            --global-line-len-ch: 66ch;
            --mobile-line-len-em: 11em;
            --mobile-line-len-ch: 22ch;
            --tablet-line-len-em: 22em;
            --tablet-line-len-ch: 44ch;

            /* Grids */
            --macro-head: 4rem;
            --macro-core: 1fr;
            --macro-foot: 4rem;
            --macro-middle: 1fr;

            --gap-default: 4rem;
        }
    } /*Sizing

 /*
    Root Components Block Sizing
    ========================================================================== */
    @layer component-size {
        @layer blocks {
            :root {
                --nav-max-ctrl: 4rem;
                --nav-min-ctrl: 3rem;
            }
        }

        @layer button {
            :root {
                --but-block: 1.75rem;
                --btn-inline: 11ch;
                --btn-width: 11ch;
                --btn-minwidth: 16.5ch;
                --btn-mobheight: 1.45rem;
                --btn-mobwidth: 20ch;
            }
        } /* Button */
    } /* Component Sizing*/
} /*Global Sizing and Spacing*/

/*
*  The  Digital Folio : Brannding & Styles
   ========================================================================== */

@layer brand-folio {
    /* Brand: Light Colors */
    /* @layer brand-light {
  } Light Mode */

    /* Brand: Dark Colors */
    @layer brand-dark {
        /* Root Colors */
        :root {
            --col-fordark: var(--col-prime);
            --col-prime: #e5ddd7;
            --col-second: #f5e3e3;
            --col-teritary: #bfbfb7;
            --col-quartary: #c9bab0;
            --col-qinary: #ffffff;

            --bkg-ondark: #120707;
            --bkg-prime: #250e0e;
            --bkg-second: #3f2222;
            --bkg-teritary: #413535;
            --bkg-quartary: #947676;
            --bkg-qinary: #7d7979;
        }
    } /*Dark Mode*/
} /*Brand*/

/*
  Global Preferences
  ========================================================================== */

@layer preferences {
    /* [2] A11y: Smooth Scrolling to reduce motion: Credit: Adam Argyle [✮✮] */
    @media (prefers-reduced-motion: no-preference) {
        html:focus-within {
            scroll-behavior: smooth;
        }
    }

    /* Color Scheme
 [0] Dark Mode
 [0] Light Mode */

    @layer color-schemes {
        /* switch to dark mode color */

        @media (prefers-color-scheme: dark) {
            body {
                background-color: var(--bkg-ondark);
                color: var(--col-fordark);
            }
        } /*Dark*/

        @media (prefers-color-scheme: light) {
            body {
                background-color: var(--bkg-onlight);
                color: var(--col-forlight);
            }
        } /*Light*/
    } /*Color Schemes*/

    /*
  Animate
  ========================================================================== */

    /* ANIMATE
    [2] Form focus Outlines
    [2] A11y: Reduce motion for transitions
  */
    @layer animate {
        @media (prefers-reduced-motion: no-preference) {
            :focus-visible {
                transition: outline-offset 105ms cubic-bezier(0.25, 0, 0.4, 1);
            }
            :where(:not(:active)):focus-visible {
                transition-duration: 0.275s;
            }
        }
        /* [2] Use offset to highlight visible interactive focus.*/
        :where(:not(:active)):focus-visible {
            outline-offset: 5px;
        }
    } /*Animate*/
} /*Preferences*/

/*
*
*  ================================================================= */

@layer typography {
    /* ==========================================================================
    Typoggraphic Sizes: Font: Line-Hieghts, Type Scales
    ==========================================================================

  - TypeScale: Last Accessed: 2023-01-22: URL: https://type-scale.com/
  - Base: 16px (100%/1em)
  - Scale: 1.333 Perfect Forth: 3:4          Perfect Fith
  - Font Choice: Affects Visual Size
  - Font Weight: 400-800
  - 1rem/16.00px:         Basedline Font
  - 1.333 rem/21.33px:    H4 Font           1.5rem/24.00px
  - 1.777 rem/28.43px:    H3 Font           2.2.5/36px
  - 2.369rem/37.90px:     H2 Font           3.75rem/54px
  - 3.157rem/50.52px:     H1 Font           5.063/81.00px
  */

    @layer type-sizes {
        :root {
            --size-default: 16px;
            --scale-small: 1.115rem;
            --scale-medium: 1.333rem;

            --h1-default: 28px;
            --h1-max: 7vmax;
            --h1-prefer: calc(-6vw + var(--scale-medium));

            --h2-default: 22px;
            --h2-prefer: calc(-4vw + var(--scale-medium));
            --h2-max: 5vmax;

            --h3-default: 18px;
            --h3-max: 3.5vmax;
            --h3-prefer: calc(-1.5vw + var(--scale-small));

            --p-default: var(--size-default, 14px);
            --p-prefer: calc(-1.5vw + var(--scale-small));
            --p-max: 2vmax;
        }
    } /*Type Size*/

    /* ==========================================================================
   Fluid Text
  ========================================================================== */

    @layer fluid-text {
        h1 {
            --h1-fluid: clamp(var(--h1-default), var(--h1-prefer), var(--h1-max));
            font-size: revert;
            font-size: var(--h1-default); /* Fallback value */
            font-size: var(--h1-fluid);
        }

        h2 {
            --h2-fluid: clamp(var(--h2-default), calc(-2vw + 1rem), var(--h2-max));
            font-size: revert;
            font-size: var(--h2-default); /* Fallback value */
            font-size: var(--h2-fluid);
        }

        h3 {
            font-size: clamp(1.125rem, calc(-1vw + 1rem), 1.625rem);
            font-size: revert;
            font-size: var(--h2-default); /* /Fallback value */
            font-size: var(--h2-fluid);
        }

        p,
        label,
        span {
            --p-fluid: clamp(0.925rem, -2vmax + var(--p-default), 1.15rem);
            font-size: revert;
            font-size: var(--p-default);
            font-size: var(--p-fluid);
        }
    }
} /* Typography */

/** ==========================================================================
 * Responsiveness & Media Queries for Devices
 *
 * [1] Global Variables First
 * [2] Use custom variable and media queries to switch paremeters for a commpn/shared sty;e
 * [3] Use subsequent layers for media queries to define more localised, custom variants
 * -> Therefore use media queries to define parameters for different sizing, and etc
 * -> And apply these for shared styles.
 * ========================================================================== */

@layer responsive {
    /* Device: Base  Mobile:
  *  [1] Uses notional ranges, not contextual
   ========================================================================== */
    /* @media only screen and (288px <= width <= 408.99px) */
    @media screen and (max-width: 359.999px) {
        :root {
            --macro-head: 3rem;
            --macro-core: 1fr;
            --macro-foot: 4rem;
            --macro-side: 2dvw;
            --macro-middle: 1fr;
            --macro-height: 300dvw;
            --macro-wrap-inline: ;
        }
        /* body {
            min-width: 100dvw;
        } */
    } /* Base Mobile */
    /* Device: Standard Mobile: Majority of Usets: Median is 348px;
  *  [1] Uses notional ranges, not contextual
   ========================================================================== */
    /* @media only screen and (288px <= width <= 408.99px) */
    @media screen and (min-width: 360px) and (max-width: 408.999px) {
        :root {
            --macro-head: 4rem;
            --macro-core: 100%;
            --macro-foot: 48px;
            --macro-side: 5dvw;
            --macro-middle: 1fr;
            --macro-height: 300dvw;
            --macro-wrap-inline: ;
        }
        /* body {
            min-width: 100dvw;
        } */
    } /* Standard Mobile */

    /* Device: Mobile Large: Ultras & Pro Devices
  ================================ */
    /* @media only screen and (409px <= width <= 488.99px) */
    @media screen and (min-width: 409px) and (max-width: 488.999px) {
        :root {
            --macro-head: 4rem;
            --macro-core: 1fr;
            --macro-foot: 3rem;
            --macro-side: 8dvw;
            --macro-middle: 1fr;
            --macro-height: 300dvw;
            --macro-wrap-mid-size: ;
            --macro-wrap-inline: ;
        }
    } /* Ultra Mobile */

    /* Standard Tablets
  ================================ */
    /* @media only screen and (489px <= width <= 768.99px) */
    @media screen and (min-width: 489px) and (max-width: 768.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 1fr;
            --macro-foot: 3rem;
            --macro-side: 2rem;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Standard Tablets*/

    /* Device: Pro Tablets and Small Laptops
  ================================ */
    /* @media only screen and (769px <= width <= 1024.999px) */
    @media screen and (min-width: 769px) and (max-width: 1024.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 1fr;
            --macro-foot: 3rem;
            --macro-side: 5vw;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Pro Tablets & Base Responsive Sizes.

  /* Device: Laptops and Desktops
  ================================ */
    /* @media only screen and (1025px >= width <= 1336.999px) */
    @media screen and (min-width: 1025px) and (max-width: 1336.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 1fr;
            --macro-foot: 5rem;
            --macro-side: 10dvw;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Desktops*/

    /* Device: Laptops and Desktops
  ================================ */
    /* @media only screen and (1337px >= width <= 1439.999px) */
    @media screen and (min-width: 1337px) and (max-width: 1440.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 300dvw;
            --macro-foot: 5rem;
            --macro-side: 15dvw;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Desktops*/

    /* Device: Modern Desktops
  ================================ */
    /* @media only screen and (1440px >= width <= 1440px) */
    @media screen and (min-width: 1441px) and (max-width: 1920.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 1fr;
            --macro-foot: 5rem;
            --macro-side: 15dvw;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Desktops*/

    /* Device: Ultra Screens and TV
  ================================ */
    @media screen and (min-width: 1921px) and (max-width: 2561.999px) {
        :root {
            --macro-head: 5rem;
            --macro-core: 1fr;
            --macro-foot: 5rem;
            --macro-side: 20dvw;
            --macro-middle: 1fr;
            --macro-height: fit-content;
            --macro-wrap-inline: ;
        }
    } /* Desktops*/
} /*Resposnive*/

/* ==========================================================================
  Compositon: Canvas: Structure, Layout, Dimensions, Semantics
  ========================================================================== */
@layer composition {
    @layer canvas {
        html {
            margin: 0 !important;
            position: static;
        }

        body {
            box-sizing: border-box;
            height: var(--macro-height);
            inline-size: 100vw;
            margin-block-start: 0px !important;
            margin-inline-start: 0px !important;
            max-block-size: fit-content;
            max-inline-size: 100dvw;
            place-self: start center;
            position: relative;
            text-align: center;
            vertical-align: top;
        }
    } /*Canvas*/

        @layer macro {
            .fo-layout-macro {
                /* background-color: var(--wf-surface6); */
                border: var(--wf-border2);
                column-gap: 0;
                display: grid;
                /*Track Names, -s: start, -e: end*/
                grid-template:
                /*Row */
                    [fo-head-s] var(--macro-head) [fo-head-e fo-focal-s] var(--macro-core) [fo-focal-e fo-foot-s] var(
                        --macro-foot
                    )
                    [fo-foot-e] / /*Col*/
                    [fo-left-s] var(--macro-side) [fo-left-e fo-focal-s] var(--macro-middle) [fo-focal-e fo-right-s] var(
                        --macro-side
                    )
                    [fo-foot-e]; /*MDN Guide on Tracknames*/
                row-gap: 0;
            }
            /*Row Names, Positions*/
            .fo-head {
                background-color: var(--wf-surface3);
                grid-area: fo-head;
                grid-column: fo-focal-s / fo-focal-e;
                grid-row: fo-head-s / fo-head-e;
                margin-block-end: 1rem;
            }

            .fo-focal {
                /* background-color: var(--wf-surface8); */
                grid-area: fo-focal;
                grid-column: fo-focal-s / fo-focal-e;
                grid-row: fo-focal-s / fo-focal-e;
            }

            .fo-foot {
                /* background-color: var(--wf-surface5); */
                grid-area: fo-foot;
                grid-column: fo-focal-s / fo-focal-e;
                grid-row: fo-foot-s / fo-foot-e;
                margin-block-start: 1rem;
            }

            /*Column Names, Positions*/
            .fo-left {
                background-color: var(--wf-surface2);
                box-sizing: var(--box);
                display: block;
                grid-area: fo-left;
                grid-column: fo-left-s / fo-left-e;
                grid-row: 1 / 4;
            }

            /* .fo-center {
                background-color: var(--wf-surface4);
                grid-area: fo-focal;
                grid-column:  fo-focal-s / fo-focal-e;
                grid-row:  fo-focal-s / fo-focal-e;
            } */

            /*.fo-main-wrap {
                box-sizing: var(--box);
                display: block;
                max-block-size: var(--macro-height); */
                /* max-height: ; */
                /* max-inline-size: calc(var(--macro-wrap-inline) * 1vw);
                max-inline-size: calc(var(--macro-wrap-inline) * 1svw);
                max-inline-size: calc(var(--macro-wrap-inline) * 1lvw);
                max-inline-size: calc(var(--macro-wrap-inline) * 1dvi);
                max-inline-size: calc(var(--macro-wrap-inline) * 1dvw);
                max-inline-size: 90vw;
                max-inline-size: 90svw;
                max-inline-size: 90lvw;
                max-inline-size: 90dvi;
                max-inline-size: 90dvw;
                position: relative; */
            /* } */

            .fo-right {
                background-color: var(--wf-surface2);
                box-sizing: var(--box);
                display: block;
                grid-area: fo-right;
                grid-column: fo-right-s / fo-right-e;
                grid-row: 1 / -1;
            }
        }
}

@layer ia {
    /*Main for all Pages*/
    main, #main-base, #main-info, #main-contact, #main-folio, #main-work {
        /* background-color: var(--wf-surface7); */
        border: var(--wf-border1);
        display: grid;
        max-block-size: var(--macro-height);
        max-inline-size: 100%;
        /* max-height: ; */
        max-inline-size: calc(var(--macro-wrap-inline) * 1vw);
        max-inline-size: calc(var(--macro-wrap-inline) * 1svw);
        max-inline-size: calc(var(--macro-wrap-inline) * 1lvw);
        max-inline-size: calc(var(--macro-wrap-inline) * 1dvi);
        max-inline-size: calc(var(--macro-wrap-inline) * 1dvw);
        max-inline-size: 90vw;
        max-inline-size: 90svw;
        max-inline-size: 90lvw;
        max-inline-size: 90dvi;
        max-inline-size: 90dvw;
        min-block-size: 100%;
        position: relative;
    }

        @layer landing {
            @media screen and (max-width: 768px) {
                /*Mobile:  4x1 Row:Column: by Line Place Placement*/
                #main-land {
                    /*Client Position*/
                    --fo-client-r-start: 1;
                    --fo-client-r-end: 2;
                    --fo-client-c-start: 1;
                    --fo-client-c-end: 2;
                    /*Info Position*/
                    --fo-info-r-start: 2;
                    --fo-info-r-end: 3;
                    --fo-info-c-start: 1;
                    --fo-info-c-end: 2;
                    /*Work Position*/
                    --fo-work-r-start: 3;
                    --fo-work-r-end: 4;
                    --fo-work-c-start: 1;
                    --fo-work-c-end: 2;
                    /* CTA Position*/
                    --fo-cta-r-start: 4;
                    --fo-cta-r-end: 4;
                    --fo-cta-c-start: 1;
                    --fo-cta-c-end: 2;
                }
                #main-base,#main-land {
                    column-gap: 1rem;
                    grid-template: repeat(4, 50%) / 100%;
                    grid-template-areas:
                        "fo-client"
                        "fo-info"
                        "fo-work"
                        "fo-cta";
                    row-gap: 1rem;
                }
                #main-base section, #main-land section {
                    min-block-size: 25rem;
                    min-inline-size: 90%;
                    /* grid-auto-rows: minmax(25rem, auto); */
                }
            }

            @media screen and (min-width: 768px) {
                /*Mobile:  4x1 Row:Column: by Line Place Placement*/
                #main-base section, #main-land section {
                    /*Client Position*/
                    --fo-client-r-start: 1;
                    --fo-client-r-end: 2;
                    --fo-client-c-start: 1;
                    --fo-client-c-end: 2;
                    /*Info Position*/
                    --fo-info-r-start: 1;
                    --fo-info-r-end: 2;
                    --fo-info-c-start: 2;
                    --fo-info-c-end: 3;
                    /*Work Position*/
                    --fo-work-r-start: 2;
                    --fo-work-r-end: 3;
                    --fo-work-c-start: 1;
                    --fo-work-c-end: 2;
                    /* CTA Position*/
                    --fo-cta-r-start: 2;
                    --fo-cta-r-end: 3;
                    --fo-cta-c-start: 2;
                    --fo-cta-c-end: 3;
                }
                #main-base,#main-land {
                    column-gap: 1rem;
                    grid-template: [fo-client] 1fr [fo-info] 1fr / [fo-work] 1fr [fo-cta] 1fr;
                    grid-template-areas:
                        "fo-client fo-info"
                        "fo-work fo-cta";
                    row-gap: 1.5rem;
                }
                #main-base section, #main-land section {
                    min-block-size: 25rem;
                    min-inline-size: 90%;
                    /* grid-auto-rows: minmax(25rem, auto); */
                }
            }

            .fo-client {
                background-color: var(--wf-surface9);
                grid-area: fo-client;
                grid-column: var(--fo-client-c-start) / var(--fo-client-c-end);
                grid-row: var(--fo-client-r-start) / var(--fo-client-r-end);
            }

            .fo-info {
                background-color: var(--wf-surface4);
                grid-area: fo-info;
                grid-column: var(--fo-info-c-start) / var(--fo-info-c-end);
                grid-row: var(--fo-info-r-start) / var(--fo-info-r-end);
            }

            .fo-work {
                background-color: var(--wf-surface3);
                grid-area: fo-work;
                grid-column: var(--fo-work-c-start) / var(--fo-work-c-end);
                grid-row: var(--fo-work-r-start) / var(--fo-work-r-end);
            }

            .fo-cta {
                background-color: var(--wf-surface5);
                grid-area: fo-cta;
                grid-column: var(--fo-cta-c-start) / var(--fo-cta-c-end);
                grid-row: var(--fo-cta-r-start) / var(--fo-cta-r-end);
            }
        }

        @layer info {
            @layer about {
                @media screen and (max-width: 768px) {
                /*Mobile:  4x1 Row:Column: by Line Place Placement*/
                #main-info {
                    /*Info Intro Position*/
                    --fo-info-intro-r-s: 1;
                    --fo-info-intro-r-e: 2;
                    --fo-info-intro-c-s: 1;
                    --fo-info-intro-c-e: 2;
                    /*Info Image Position*/
                    --fo-info-img-r-s: 2;
                    --fo-info-img-r-e: 3;
                    --fo-info-img-c-s: 1;
                    --fo-info-img-c-e: 2;
                    /*Info About Me Position, spans 2 column*/
                    --fo-info-aboutme-r-s: 2;
                    --fo-info-aboutme-r-e: 3;
                    --fo-info-aboutme-c-s: 3;
                    --fo-info-aboutme-c-e: 3;

                    --fo-info-detail-row: 400px;
                    --fo-info-aboutme-row: 250px;
                }
                #main-info {
                    column-gap: 2rem;
                    grid-template-areas:
                        "fo-info-intro"
                        "fo-info-img"
                        "fo-info-about";
                    grid-template-rows: 1fr 15vh;
                    row-gap: 1rem
                }
                /* #main-info {
                    min-block-size: 25rem;
                    min-inline-size: 90%;
                    grid-auto-rows: minmax(25rem, auto); */
                }
                @media screen and (min-width: 768px) {
                /*Mobile:  3x1 Row:Column: by Line Place Placement*/
                #main-info {
                    /* Start: Intro Info */
                    --fo-info-intro-r-s: 1;
                    --fo-info-intro-r-e: 2;
                    --fo-info-intro-c-s: 1;
                    --fo-info-intro-c-e: 2;
                    /*Info Image End*/
                    --fo-info-img-r-s: 1;
                    --fo-info-img-r-e: 1;
                    --fo-info-img-c-s: 2;
                    --fo-info-img-c-e: 3;
                    /*Info About Span 2*/
                    --fo-info-aboutme-r-s: 2;
                    --fo-info-aboutme-r-e: 3;
                    --fo-info-aboutme-c-s: 1;
                    --fo-info-aboutme-c-e: 3;
                    /* Row Dimensions */
                    --fo-info-detail-row: 25rem;
                    --fo-info-aboutme-row: 8vh;
                }
                #main-info {
                    column-gap: 2rem;
                    grid-template-areas:
                        "fo-info-intro fo-info-img"
                        "fo-info-about fo-info-about";
                    min-block-size: 40.625rem;
                    min-inline-size: 90%;
                    row-gap: 1rem;
                }
            }

                .fo-info-intro {
                    background-color: var(--wf-surface9);
                    grid-area: fo-info-intro;
                    grid-column: var(--fo-info-intro-c-s) / var(--fo-info-intro-c-e);
                    grid-row: var(--fo-info-intro-r-s) / var(--fo-info-intro-r-s);
                    min-block-size: var(--fo-info-detail-row);
                }

                .fo-info-image {
                    background-color: var(--wf-surface8);
                    grid-area: fo-info-img;
                    grid-column: var(--fo-info-img-c-s) / var(--fo-info-img-c-e);
                    grid-row: var(--fo-info-imgl-r-s) / var(--fo-info-dimg-r-s);
                    min-block-size:  var(--fo-info-detail-row);
                }

                .fo-info-aboutme {
                    background-color: var(--wf-surface7);
                    grid-area: fo-info-about;
                    grid-column: var(--fo-info-aboutme-c-s) / var(--fo-info-aboutme-c-e);
                    grid-row: var(--fo-info-aboutme-r-s) / var(--fo-info-aboutme-r-e);
                    max-block-size: max-content;
                    min-block-size:  var(--fo-info-aboutme-row);
                }

            }

            @layer contact {
                /*In Portrait: Mobile: By Rows*/
                 @media screen and (max-width: 768px) {
                /*Mobile:  2x1 Row:Column: by Line Place Placement*/
                #main-contact {
                    /*Info Intro Position, */
                    --fo-info-form-r-s: 1;
                    --fo-info-form-r-e: 2;
                    --fo-info-form-c-s: 1;
                    --fo-info-form-c-e: 2;
                    /*Info Card Position, 2nd Row, 1 Col*/
                    --fo-info-card-r-s: 2;
                    --fo-info-card-r-e: 3;
                    --fo-info-card-c-s: 1;
                    --fo-info-card-c-e: 2;
                    /*Blocks/Components Dimensions*/
                    --fo-info-form-block: 400px;
                    --fo-info-card-block: 150px;
                    --fo-info-form-inline: ;
                    --fo-info-card-inline: ;
                }
                #main-contact {
                    column-gap: 0;
                    grid-auto-columns: auto;
                    grid-template-areas:
                        "fo-info-form"
                        "fo-info-card";
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 15vh;
                    row-gap: 1rem;
                }
            }

                            /*Landscape: Fixed+: Columnar*/
                @media screen and (min-width: 1000px) and (max-width: 1201px) and (orientation: portrait) {
                /*Fixed+:  1x2  Row:Column: by Line Place Placement*/
                    #main-contact {
                        /*Info Intro Position*/
                        --fo-info-form-r-s: 1;
                        --fo-info-form-r-e: 2;
                        --fo-info-form-c-s: 1;
                        --fo-info-form-c-e: 2;
                        /*Info Image Position*/
                        --fo-info-card-r-s: 1;
                        --fo-info-card-r-e: 2;
                        --fo-info-card-c-s: 2;
                        --fo-info-card-c-e: 3;
                        /*Column Width*/
                        --fo-info-form-block: ;
                        --fo-info-card-block: ;
                        /* --fo-info-form-inline: 400px;
                        --fo-info-card-inline: 150px; */
                    }
                    #main-contact {
                        column-gap: 0rem;
                        grid-auto-columns: auto;
                        grid-auto-rows: auto;
                        grid-template: 1fr / 1fr 15vh;
                        grid-template-areas:
                            "fo-info-form"
                            "fo-info-card";
                        /* grid-template-columns: 1fr 47vh; */
                        row-gap: 0;
                    }
                }
                /*Landscape: Fixed+: Columnar*/
                @media screen and (min-width: 768px) {
                /*Fixed+:  1x2  Row:Column: by Line Place Placement*/
                    #main-contact {
                        /*Info Intro Position*/
                        --fo-info-form-r-s: 1;
                        --fo-info-form-r-e: 2;
                        --fo-info-form-c-s: 1;
                        --fo-info-form-c-e: 2;
                        /*Info Image Position*/
                        --fo-info-card-r-s: 1;
                        --fo-info-card-r-e: 2;
                        --fo-info-card-c-s: 2;
                        --fo-info-card-c-e: 3;
                        /*Column Width*/
                        --fo-info-form-block: ;
                        --fo-info-card-block: ;
                        --fo-info-form-inline: 400px;
                        --fo-info-card-inline: 150px;
                    }
                    #main-contact {
                        column-gap: 2rem;
                        grid-auto-rows: auto;
                        /* grid-template: 1fr 15vh / 1fr; */
                        grid-template-areas:
                            "fo-info-form fo-info-card";
                        /* grid-template-columns: 1fr 47vh; */
                        row-gap: 0;
                    }
                }
                /* #main-contact {
                min-block-size: 25rem;
                min-inline-size: 90%;
                grid-auto-rows: minmax(25rem, auto);} */

                .fo-info-form {
                    background-color: var(--wf-surface9);
                    grid-area: fo-info-form;
                    grid-column: var(--fo-info-form-c-s) / var(--fo-info-form-c-e);
                    grid-row: var(--fo-info-form-r-s) / var(--fo-info-form-r-s);
                    min-block-size:  var(--fo-info-form-block);
                    min-inline-size:  var(--fo-info-form-inline);
                    position: relative;
                }

                .fo-info-card {
                    background-color: var(--wf-surface8);
                    grid-area: fo-info-card;
                    grid-column: var(--fo-info-card-c-s) / var(--fo-info-card-c-e);
                    grid-row: var(--fo-info-card-r-s) / var(--fo-info-card-r-s);
                    min-block-size:  var(--fo-info-card-block);
                    min-inline-size:  var(--fo-info-card-inline);
                    position: relative;
                }
            }
        }
        @layer folio {
            @layer clients {

                @media screen and (max-width: 768px) {
                /*Mobile:  2x1 Row:Column: by Line Place Placement*/
                #main-clients {
                        /*Work Summary Position*/
                        --fo-folio-client1-r-s: 1;
                        --fo-folio-client1-r-e: 2;
                        --fo-folio-client1-c-s: 1;
                        --fo-folio-client1-c-e: 2;
                        /*Work Education Position*/
                        --fo-folio-client2-r-s: 2;
                        --fo-folio-client2-r-e: 3;
                        --fo-folio-client2-c-s: 1;
                        --fo-folio-client2-c-e: 2;
                        /*Work Tools Position*/
                        /* --fo-folio-client3-r-s: 3;
                        --fo-folio-client3-r-e: 4;
                        --fo-folio-client3-c-s: 1;
                        --fo-folio-client3-c-e: 2; */
                        /*Blocks/Components Dimensions*/
                        /* --fo-folio-client1-block: ;
                        --fo-folio-client2-block: ;
                        --fo-folio-client3-block: ; */
                        /* --fo-folio-client1-inline: 400px;
                        --fo-folio-client2-inline: 150px;
                        --fo-folio-client3-inline: 150px; */
                }
                #main-contact {
                    column-gap: 0;
                    grid-template-areas:
                            "fo-folio-client1"
                            "fo-folio-client2";
                            /* "fo-folio-client3"; */
                    grid-template-columns: 1fr;
                    row-gap: 1rem
                }
                #main-contact {
                }
            }
             /*Landscape: Fixed+: Columnar*/
            @media screen and (min-width: 768px) {
                /*Fixed+:  1x2  Row:Column: by Line Place Placement*/
                    #main-folio {
                        /*Work Summary Position*/
                        --fo-folio-client1-r-s: 1;
                        --fo-folio-client1-r-e: 2;
                        --fo-folio-client1-c-s: 1;
                        --fo-folio-client1-c-e: 2;
                        /*Work Education Position*/
                        --fo-folio-client2-r-s: 2;
                        --fo-folio-client2-r-e: 3;
                        --fo-folio-client2-c-s: 1;
                        --fo-folio-client2-c-e: 2;
                        /*Work Tools Position*/
                        /* --fo-folio-client3-r-s: 3;
                        --fo-folio-client3-r-e: 4;
                        --fo-folio-client3-c-s: 1;
                        --fo-folio-client3-c-e: 2; */
                        /*Blocks/Components Dimensions*/
                        /* --fo-folio-client1-block: ;
                        --fo-folio-client2-block: ;
                        --fo-folio-client3-block: ; */
                        /* --fo-folio-client1-inline: 400px;
                        --fo-folio-client2-inline: 150px;
                        --fo-folio-client3-inline: 150px; */
                    }
                    #main-folio {
                        column-gap: 0;
                        grid-auto-rows: auto;
                        grid-template-areas:
                            "fo-folio-client1"
                            "fo-folio-client2";
                            /* "fo-folio-client3"; */
                        row-gap: 2rem;
                    }
                }

                .fo-folio-client1 {
                    background-color: var(--wf-surface9);
                    grid-area: fo-work-sum;
                    grid-column: var(--fo-work-sum-c-s) / var(--fo-work-sum-c-e);
                    grid-row: var(--fo-work-sum-r-s) / var(--fo-work-sum-r-s);
                    min-block-size:  var(--fo-work-sum-block);
                    min-inline-size:  var(--fo-work-sum-inline);
                    position: relative;
                }

                .fo-folio-client2 {
                    background-color: var(--wf-surface8);
                    grid-area: fo-folio-client2;
                    grid-column: var(--fo-folio-client2-c-s) / var(--fo-folio-client2-c-e);
                    grid-row: var(--fo-folio-client2-r-s) / var(--fo-folio-client2-r-s);
                    min-block-size:  var(--fo-folio-client2-block);
                    min-inline-size:  var(--fo-folio-client2-inline);
                    position: relative;
                }

            }
        }
        @layer work {
            @layer profile {
                @media screen and (max-width: 768px) {
                /*Mobile:  2x1 Row:Column: by Line Place Placement*/
                #main-work {
                        /*Work Summary Position*/
                        --fo-work-sum-r-s: 1;
                        --fo-work-sum-r-e: 2;
                        --fo-work-sum-c-s: 1;
                        --fo-work-sum-c-e: 2;
                        /*Work Education Position*/
                        --fo-work-edu-r-s: 2;
                        --fo-work-edu-r-e: 3;
                        --fo-work-edu-c-s: 1;
                        --fo-work-edu-c-e: 2;
                        /*Work Tools Position*/
                        --fo-work-tools-r-s: 3;
                        --fo-work-tools-r-e: 4;
                        --fo-work-tools-c-s: 1;
                        --fo-work-tools-c-e: 2;
                    /*Blocks/Components Dimensions*/
                    --fo-info-form-block: 400px;
                    --fo-info-card-block: 150px;
                    --fo-info-form-inline: ;
                    --fo-info-card-inline: ;
                }
                #main-workt {
                    column-gap: 0;
                    /* grid-auto-columns: auto; */
                    grid-template-areas:
                            "fo-work-sum"
                            "fo-work-edu"
                            "fo-work-tools";
                    grid-template-columns: 1fr;
                    row-gap: 1rem
                }
            }
             /*Landscape: Fixed+: Columnar*/
            @media screen and (min-width: 768px) {
                /*Fixed+:  1x2  Row:Column: by Line Place Placement*/
                    #main-work {
                        /*Work Summary Position*/
                        --fo-work-sum-r-s: 1;
                        --fo-work-sum-r-e: 2;
                        --fo-work-sum-c-s: 1;
                        --fo-work-sum-c-e: 2;
                        /*Work Education Position*/
                        --fo-work-edu-r-s: 2;
                        --fo-work-edu-r-e: 3;
                        --fo-work-edu-c-s: 1;
                        --fo-work-edu-c-e: 2;
                        /*Work Tools Position*/
                        --fo-work-tools-r-s: 3;
                        --fo-work-tools-r-e: 4;
                        --fo-work-tools-c-s: 1;
                        --fo-work-tools-c-e: 2;
                        /*Column Width*/
                        /* --fo-work-sum-block: ;
                        --fo-work-edu-block: ; */
                        /* --fo-work-sum-inline: 400px;
                        --fo-work-edu-inline: 150px; */
                    }
                    #main-work {
                        column-gap: 0;
                        grid-auto-rows: auto;
                        /* grid-template: 1fr 15vh / 1fr; */
                        grid-template-areas:
                            "fo-work-sum"
                            "fo-work-edu"
                            "fo-work-tools";
                        row-gap: 2rem;
                    }
                }

                .fo-work-sum {
                    background-color: var(--wf-surface9);
                    grid-area: fo-work-sum;
                    grid-column: var(--fo-work-sum-c-s) / var(--fo-work-sum-c-e);
                    grid-row: var(--fo-work-sum-r-s) / var(--fo-work-sum-r-s);
                    min-block-size:  var(--fo-work-sum-block);
                    min-inline-size:  var(--fo-work-sum-inline);
                    position: relative;
                }

                .fo-work-edu {
                    background-color: var(--wf-surface8);
                    grid-area: fo-work-edu;
                    grid-column: var(--fo-work-edu-c-s) / var(--fo-work-edu-c-e);
                    grid-row: var(--fo-work-edu-r-s) / var(--fo-work-edu-r-s);
                    min-block-size:  var(--fo-work-edu-block);
                    min-inline-size:  var(--fo-work-edu-inline);
                    position: relative;
                }

                .fo-work-tools {
                    background-color: var(--wf-surface6);
                    grid-area: fo-work-tools;
                    grid-column: var(--fo-work-tools-c-s) / var(--fo-work-tools-c-e);
                    grid-row: var(--fo-work-tools-r-s) / var(--fo-work-tools-r-s);
                    min-block-size:  var(--fo-work-tools-block);
                    min-inline-size:  var(--fo-work-tools-inline);
                    position: relative;
                }
        }
    }
}