

    /*  Color Scheme
        [0] Dark Mode
        [0] Light Mode  */
@layer color-schemes {
    /*  switch to dark mode color  */
    @media (prefers-color-scheme: dark) {
        :root {
            --scheme: dark;
            --scheme-prime: var(--scheme);
            color-scheme: var(--scheme-prime);
        }

        @layer brand-palette {
        }


        @layer brand-work {
            :root {
                --work-surface-ondark: var(--deep-blue);
                --work-surface-accent-dark: var(--soft-yellow);
                --work-text-ondark: var(--light-ondark);
                --work-head-ondark: var(--work-text-ondark);
                --work-accent-ondark: var(--drab-orange);
                --work-hint-ondark: var(--peach-orange);
                --work-focus-ondark: var(--bright-orange);
            }
        }

        @layer brand-folio {
            :root {
                --folio-surface-ondark: var(--soft-yellow);
                --folio-surface-accent-dark: var(--dark-emerald);
                --folio-text-ondark: var(--dark-ondark);
                --folio-head-ondark: var(--folio-text-ondark);
                --folio-accent-ondark: var(--deep-green);
                --folio-hint-ondark: var(--leaf-green);
                --folio-focus-ondark: var(--bright-green);
            }
        }

        @layer brand-defaults {
            *, html: root {
                --surface-prime: var(--dark-ondark);
                --text-prime: var(--light-ondark);
                --head-prime: var(--text-prime);
                --input-prime: var(--input-ondark);
                --accent-prime: var(--accent-ondark);
                /* --shaddow-prime: var(--shaddow-ondark); */
                --hint-prime: var(--hint-ondark);
                --focus-prime: var(--focus-ondark);
                --valid-prime: var(--valid-ondark);
                --invalid-prime: var(--valid-ondark);
                --cta-surface: var(--cta-surface-ondark);
                --cta-surface-accent: var(--cta-surface-accent-dark);
                --cta-text: var(--cta-text-ondark);
                --cta-head: var(--cta-head-ondark);
                --cta-accent: var(--cta-accent-ondark);
                --cta-hint: var(--cta-hint-ondark);
                --cta-hint-accent: var(--cta-hint-accent-ondark);
                --cta-focus: var(--cta-focus-ondark);
                --info-surface: var(--info-surface-ondark);
                --info-surface-accent: var(--info-surface-accent-ondark);
                --info-text: var(--info-text-ondark);
                --info-copy-text: var(--info-copy-ondark);
                --info-headtext: var(--info-head-ondark);
                --info-accent: var(--info-accent-ondark);
                --info-hint: var(--info-hint-ondark);
                --info-focus: var(--info-focus-ondark);
                --work-surface: var(--work-surface-ondark);
                --work-surface-accent: var(--soft-yellow);
                --work-text: var(--light-ondark);
                --work-headtext: var(--work-text-ondark);
                --work-accent: var(--work-accent-ondark);
                --work-hint: var(--work-hint-ondark);
                --work-focus: var(--work-focus-ondark);
                --folio-surface: var(--folio-surface-ondark);
                --folio-surface-accent: var(--folio-surface-accent-dark);
                --folio-text: var(--folio-text-ondark);
                --folio-headtext: var(--folio-head-ondark);
                --folio-accent: var(--folio-accent-ondark);
                --folio-hint: var(--folio-hint-ondark);
                --folio-focus: var(--folio-hint-ondark);
                --dark-contrast: contrast(0.8);
                --dark-bright: contrast(1.15);
            }

            body {
                background-color: var(--surface-prime);
                color: var(--text-prime);
            }
        }
    }
}

@layer brand-digital {
@layer brand-palette {
        *, html, : root {
            --dark-onlight: #16182e;
            --dark-ondark: #16182e;
            --light-ondark: #fefbf7;
            --light-onlight: #fefbf7;
            --on-accent-ondark: #282c4e;
            --on-accent-onlight: #c3c6df;
            --mid-ondark: #464646;
            --mid-onlight: #464646;
            --deep-green: #aba8a0;
            --beige-taup: #ABA7A0;
            --drab-green: #759148;
            --olive-drab: #759148;
            --bright-green: #a1e03c;
            --leaf-green: #b4e06c;
            --deep-orange: #0a0500;
            --drab-orange: #813b1d;
            --light-orange: #ffdcd2;
            --peach-orange: #fea37c;
            --bright-orange: #ff7033;
            --bright-yellow: #fbff00;
            --soft-yellow: #feffa8;
            --deep-blue: #10073f;
            --bright-blue: #bf6bcb;
            --soft-red: #ff5c5cfd;
            --bright-red: #fe3636;
            --text-ondark: var(--light-ondark);
            --text-onlight: var(--dark-onlight);
            --surface-ondark: var(--dark-ondark);
            --surface-onlight: var(--light-onlight);
            --surface-accent-ondark: var(--on-accent-ondark);
            --surface-accent-onlight: var(--on-accent-onlight);
            --input-ondark: var(--mid-ondark);
            --input-onlight: var(--mid-onlight);
            --accent-ondark: var(--peach-orange);
            --accent-onlight: var(--drab-orange);
            --shaddow-ondark: var(--bright-blue);
            --shaddow-onlight: var(--deep-blue);
            --hint-ondark: var(--leaf-green);
            --hint-onlight: var(--drab-green);
            --focus-ondark: var(--drab-orange);
            --focus-onlight: var(--bright-orange);
            --valid-ondark: var(--leaf-green);
            --valid-onlight: var(--bright-green);
            --invalid-ondark: var(--soft-red);
            --invalid-onlight: var(--bright-red);
        }

    @layer brand-core {
        *, :root {
            --link-prime: var(--hint-prime);
            --visted-prime: var(--hint-prime);
            --active-prime: var(--accent-prime);
            --target-prime: var(--accent-prime);
            --hover-prime: var(--focus-prime);
            --focusin-prime: var(--focus-prime);
            --border-prime: var(--accent-prime);
            --caret-prime: var(--accent-prime);
            --outline-prime: var(--focus-prime);
            --underline-prime: var(--hint-prime);
            --emphasis-prime: var(--hint-prime);
            --shaddow-prime: var(--accent-prime);
            --text-shaddow-prime: var(--shaddow-prime);
        }
    }
}}