<!DOCTYPE html>
<html lang="en-GB">
  <!-- Head: Viewport Scaling; b) External Stylesheet; c) Favicons-->

  <head title="About CJ & the Digital Folio. By CJ, an inclusive Digital Developer's Portfolio">
    <!-- Meta Tags-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="origin" content="https://ipoetdev.github.io/the-folio/" />
    <meta name="copyright" content="The Digital Folio is the copyright of Charles J Fowler, 2023-2028" />
    <meta name="author" content="Charles J Fowler, @iPoetDev.github.com" />
    <meta name="creator" content="Charles J Fowler, @iPoetDev.github.com" />
    <meta name="designer" content="Charles J Fowler, @iPoetDev.github.com" />
    <meta name="contact" content="Github: @iPoetDev" />
    <meta name="geo.lmk" content="Dublin, Ireland; Europe" />
    <meta name="geo.country" content="Ireland" />
    <meta name="revision" content="#CommitShortHashOfSubmission" />
    <meta name="semver" content="0.0.5.01 | 2023.01.15" />
    <meta name="color-scheme" content="dark" />
    <meta
      name="keywords"
      content="Fowler,Charles,Clients,Designer,Web Designer,Developer,Software, Web
      Devekoper,Frontend Developer,Code Institute,HTML,CSS,Modern CSS" />
    <meta name="description" content="lorem5" />
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0" />
    <!-- Link: External Resources-->
    <link type="text/css" href="assets/styles/main.css" rel="stylesheet" />
    <link type="image/png" href="assets/ico/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
    <link type="image/x-icon" href="assets/ico/favicon.ico" sizes="48x48" rel="icon" />
    <link type="image/png" href="assets/ico/favicon-32x32.png" sizes="32x32" rel="icon" />
    <link type="image/png" href="assets/ico/favicon-16x16.png" sizes="16x16" rel="icon" />

    <link href="assets/ico/site.webmanifest" title="Android Favicons" rel="manifest" />
    <!-- Page: Home-->
    <title title="About the Digital Folio's Owner, CJ. Info: About & Information">
      About the Digital Folio's Owner, CJ. About &amp; Information.
    </title>
    <!--  0] Namespace F: Folio: Namespace for The Digital Folio. Alias: fo-.
      1] Alias:    C: Composition Comment -> Semantics & Layout
      2] Alias:    U: Utility Comment     -  Core Styling, Typography
      3] Alias:    B: Block/Component/Widget Comment
      4] Alias:    E: Exception/Variant Comment
  -->
    <!-- Body: contact: Home: Magazine 2x2 Box Layout-->
  </head>
  <body class="fo-layout-macro">
    <header class="fo-head">
      <nav>#</nav>
    </header>
    <div class="fo-left">££</div>
    <!-- <div class="fo-main-wrap fo-focal">
            <main> -->
    <main class="fo-main-wrap fo-focal" id="main-info">
      <section class="fo-info-intro"></section>
      <section class="fo-info-image"></section>
      <section class="fo-info-aboutme"></section>
    </main>
    <!-- </div> -->
    <div class="fo-right">$$</div>
    <footer class="fo-foot">###</footer>
  </body>
</html>
